a:visited {
  /*color: #428BCA;*/
}

blockquote {
  font-family: Georgia, Times;
  font-style: italic;
}

th, td {
  padding: 0.25em 0.5em;
}

tt {
  border-width: 1px !important;
}

.searchresults {
  column-count: 3;
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
}

pre, .code {
  font-family: Monaco, Inconsolata, Consolas, "Courier New", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei Mono", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif !important
}

#contentIndex {
  max-width: 260px;
}

.font-normal {
  font-style: normal;
}

.font-italic {
  font-style: italic;
}

.font-oblique {
  font-style: oblique;
}

/* bootstrap callout color extentions */
/* ^(.*?)$\s+(#.*?)$ */
/* .bs-callout-$1 {\nborder-color: $2;\n}\n.bs-callout-$1 h4 {\ncolor: $2;\n} */
.bs-callout {
  border-radius: 0px;
  background-clip: content-box;
}

.bs-callout-compact {
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 2em;
}

.bs-callout-noborder {
  border-left-width: 5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

.bs-callout-info {
  border-color: #1b809e;
}
.bs-callout-info h4 {
  color: #1b809e;
}

.bs-callout-danger {
  border-color: #ce4844;
}
.bs-callout-danger h4 {
  color: #ce4844;
}

.bs-callout-warning {
  border-color: #aa6708;
}
.bs-callout-warning h4 {
  color: #aa6708;
}

.bs-callout-black {
  border-color: #000000;
}
.bs-callout-black h4 {
  color: #000000;
}

.bs-callout-aliceblue {
  border-color: #f0f8ff;
}
.bs-callout-aliceblue h4 {
  color: #f0f8ff;
}

.bs-callout-cadetblue {
  border-color: #5f9ea0;
}
.bs-callout-cadetblue h4 {
  color: #5f9ea0;
}

.bs-callout-lightyellow {
  border-color: #ffffe0;
}
.bs-callout-lightyellow h4 {
  color: #ffffe0;
}

.bs-callout-coral {
  border-color: #ff7f50;
}
.bs-callout-coral h4 {
  color: #ff7f50;
}

.bs-callout-dimgray {
  border-color: #696969;
}
.bs-callout-dimgray h4 {
  color: #696969;
}

.bs-callout-lavender {
  border-color: #e6e6fa;
}
.bs-callout-lavender h4 {
  color: #e6e6fa;
}

.bs-callout-darkcyan {
  border-color: #008b8b;
}
.bs-callout-darkcyan h4 {
  color: #008b8b;
}

.bs-callout-lightgoldenrodyellow {
  border-color: #fafad2;
}
.bs-callout-lightgoldenrodyellow h4 {
  color: #fafad2;
}

.bs-callout-tomato {
  border-color: #ff6347;
}
.bs-callout-tomato h4 {
  color: #ff6347;
}

.bs-callout-gray {
  border-color: #808080;
}
.bs-callout-gray h4 {
  color: #808080;
}

.bs-callout-lightslategray {
  border-color: #778899;
}
.bs-callout-lightslategray h4 {
  color: #778899;
}

.bs-callout-teal {
  border-color: #008080;
}
.bs-callout-teal h4 {
  color: #008080;
}

.bs-callout-lemonchiffon {
  border-color: #fffacd;
}
.bs-callout-lemonchiffon h4 {
  color: #fffacd;
}

.bs-callout-orangered {
  border-color: #ff4500;
}
.bs-callout-orangered h4 {
  color: #ff4500;
}

.bs-callout-darkgray {
  border-color: #a9a9a9;
}
.bs-callout-darkgray h4 {
  color: #a9a9a9;
}

.bs-callout-slategray {
  border-color: #708090;
}
.bs-callout-slategray h4 {
  color: #708090;
}

.bs-callout-seagreen {
  border-color: #2e8b57;
}
.bs-callout-seagreen h4 {
  color: #2e8b57;
}

.bs-callout-wheat {
  border-color: #f5deb3;
}
.bs-callout-wheat h4 {
  color: #f5deb3;
}

.bs-callout-red {
  border-color: #ff0000;
}
.bs-callout-red h4 {
  color: #ff0000;
}

.bs-callout-silver {
  border-color: #c0c0c0;
}
.bs-callout-silver h4 {
  color: #c0c0c0;
}

.bs-callout-darkslategray {
  border-color: #2f4f4f;
}
.bs-callout-darkslategray h4 {
  color: #2f4f4f;
}

.bs-callout-darkolivegreen {
  border-color: #556b2f;
}
.bs-callout-darkolivegreen h4 {
  color: #556b2f;
}

.bs-callout-burlywood {
  border-color: #deb887;
}
.bs-callout-burlywood h4 {
  color: #deb887;
}

.bs-callout-crimson {
  border-color: #dc143c;
}
.bs-callout-crimson h4 {
  color: #dc143c;
}

.bs-callout-lightgrey {
  border-color: #d3d3d3;
}
.bs-callout-lightgrey h4 {
  color: #d3d3d3;
}

.bs-callout-lightsteelblue {
  border-color: #b0c4de;
}
.bs-callout-lightsteelblue h4 {
  color: #b0c4de;
}

.bs-callout-darkgreen {
  border-color: #006400;
}
.bs-callout-darkgreen h4 {
  color: #006400;
}

.bs-callout-tan {
  border-color: #d2b48c;
}
.bs-callout-tan h4 {
  color: #d2b48c;
}

.bs-callout-mediumvioletred {
  border-color: #c71585;
}
.bs-callout-mediumvioletred h4 {
  color: #c71585;
}

.bs-callout-gainsboro {
  border-color: #dcdcdc;
}
.bs-callout-gainsboro h4 {
  color: #dcdcdc;
}

.bs-callout-steelblue {
  border-color: #4682b4;
}
.bs-callout-steelblue h4 {
  color: #4682b4;
}

.bs-callout-green {
  border-color: #008000;
}
.bs-callout-green h4 {
  color: #008000;
}

.bs-callout-khaki {
  border-color: #f0e68c;
}
.bs-callout-khaki h4 {
  color: #f0e68c;
}

.bs-callout-deeppink {
  border-color: #ff1493;
}
.bs-callout-deeppink h4 {
  color: #ff1493;
}

.bs-callout-white {
  border-color: #ffffff;
}
.bs-callout-white h4 {
  color: #ffffff;
}

.bs-callout-royalblue {
  border-color: #4169e1;
}
.bs-callout-royalblue h4 {
  color: #4169e1;
}

.bs-callout-forestgreen {
  border-color: #228b22;
}
.bs-callout-forestgreen h4 {
  color: #228b22;
}

.bs-callout-yellow {
  border-color: #ffff00;
}
.bs-callout-yellow h4 {
  color: #ffff00;
}

.bs-callout-hotpink {
  border-color: #ff69b4;
}
.bs-callout-hotpink h4 {
  color: #ff69b4;
}

.bs-callout-snow {
  border-color: #fffafa;
}
.bs-callout-snow h4 {
  color: #fffafa;
}

.bs-callout-midnightblue {
  border-color: #191970;
}
.bs-callout-midnightblue h4 {
  color: #191970;
}

.bs-callout-mediumseagreen {
  border-color: #3cb371;
}
.bs-callout-mediumseagreen h4 {
  color: #3cb371;
}

.bs-callout-gold {
  border-color: #ffd700;
}
.bs-callout-gold h4 {
  color: #ffd700;
}

.bs-callout-palevioletred {
  border-color: #db7093;
}
.bs-callout-palevioletred h4 {
  color: #db7093;
}

.bs-callout-ghostwhite {
  border-color: #f8f8ff;
}
.bs-callout-ghostwhite h4 {
  color: #f8f8ff;
}

.bs-callout-navy {
  border-color: #000080;
}
.bs-callout-navy h4 {
  color: #000080;
}

.bs-callout-darkseagreen {
  border-color: #8fbc8f;
}
.bs-callout-darkseagreen h4 {
  color: #8fbc8f;
}

.bs-callout-orange {
  border-color: #ffa500;
}
.bs-callout-orange h4 {
  color: #ffa500;
}

.bs-callout-pink {
  border-color: #ffc0cb;
}
.bs-callout-pink h4 {
  color: #ffc0cb;
}

.bs-callout-whitesmoke {
  border-color: #f5f5f5;
}
.bs-callout-whitesmoke h4 {
  color: #f5f5f5;
}

.bs-callout-darkblue {
  border-color: #00008b;
}
.bs-callout-darkblue h4 {
  color: #00008b;
}

.bs-callout-mediumaquamarine {
  border-color: #66cdaa;
}
.bs-callout-mediumaquamarine h4 {
  color: #66cdaa;
}

.bs-callout-sandybrown {
  border-color: #f4a460;
}
.bs-callout-sandybrown h4 {
  color: #f4a460;
}

.bs-callout-lightpink {
  border-color: #ffb6c1;
}
.bs-callout-lightpink h4 {
  color: #ffb6c1;
}

.bs-callout-floralwhite {
  border-color: #fffaf0;
}
.bs-callout-floralwhite h4 {
  color: #fffaf0;
}

.bs-callout-mediumblue {
  border-color: #0000cd;
}
.bs-callout-mediumblue h4 {
  color: #0000cd;
}

.bs-callout-aquamarine {
  border-color: #7fffd4;
}
.bs-callout-aquamarine h4 {
  color: #7fffd4;
}

.bs-callout-darkorange {
  border-color: #ff8c00;
}
.bs-callout-darkorange h4 {
  color: #ff8c00;
}

.bs-callout-thistle {
  border-color: #d8bfd8;
}
.bs-callout-thistle h4 {
  color: #d8bfd8;
}

.bs-callout-linen {
  border-color: #faf0e6;
}
.bs-callout-linen h4 {
  color: #faf0e6;
}

.bs-callout-blue {
  border-color: #0000ff;
}
.bs-callout-blue h4 {
  color: #0000ff;
}

.bs-callout-palegreen {
  border-color: #98fb98;
}
.bs-callout-palegreen h4 {
  color: #98fb98;
}

.bs-callout-goldenrod {
  border-color: #daa520;
}
.bs-callout-goldenrod h4 {
  color: #daa520;
}

.bs-callout-magenta {
  border-color: #ff00ff;
}
.bs-callout-magenta h4 {
  color: #ff00ff;
}

.bs-callout-antiquewhite {
  border-color: #faebd7;
}
.bs-callout-antiquewhite h4 {
  color: #faebd7;
}

.bs-callout-dodgerblue {
  border-color: #1e90ff;
}
.bs-callout-dodgerblue h4 {
  color: #1e90ff;
}

.bs-callout-lightgreen {
  border-color: #90ee90;
}
.bs-callout-lightgreen h4 {
  color: #90ee90;
}

.bs-callout-peru {
  border-color: #cd853f;
}
.bs-callout-peru h4 {
  color: #cd853f;
}

.bs-callout-fuchsia {
  border-color: #ff00ff;
}
.bs-callout-fuchsia h4 {
  color: #ff00ff;
}

.bs-callout-papayawhip {
  border-color: #ffefd5;
}
.bs-callout-papayawhip h4 {
  color: #ffefd5;
}

.bs-callout-cornflowerblue {
  border-color: #6495ed;
}
.bs-callout-cornflowerblue h4 {
  color: #6495ed;
}

.bs-callout-springgreen {
  border-color: #00ff7f;
}
.bs-callout-springgreen h4 {
  color: #00ff7f;
}

.bs-callout-darkgoldenrod {
  border-color: #b8860b;
}
.bs-callout-darkgoldenrod h4 {
  color: #b8860b;
}

.bs-callout-violet {
  border-color: #ee82ee;
}
.bs-callout-violet h4 {
  color: #ee82ee;
}

.bs-callout-blanchedalmond {
  border-color: #ffebcd;
}
.bs-callout-blanchedalmond h4 {
  color: #ffebcd;
}

.bs-callout-deepskyblue {
  border-color: #00bfff;
}
.bs-callout-deepskyblue h4 {
  color: #00bfff;
}

.bs-callout-mediumspringgreen {
  border-color: #00fa9a;
}
.bs-callout-mediumspringgreen h4 {
  color: #00fa9a;
}

.bs-callout-chocolate {
  border-color: #d2691e;
}
.bs-callout-chocolate h4 {
  color: #d2691e;
}

.bs-callout-plum {
  border-color: #dda0dd;
}
.bs-callout-plum h4 {
  color: #dda0dd;
}

.bs-callout-bisque {
  border-color: #ffe4c4;
}
.bs-callout-bisque h4 {
  color: #ffe4c4;
}

.bs-callout-lightskyblue {
  border-color: #87cefa;
}
.bs-callout-lightskyblue h4 {
  color: #87cefa;
}

.bs-callout-lawngreen {
  border-color: #7cfc00;
}
.bs-callout-lawngreen h4 {
  color: #7cfc00;
}

.bs-callout-sienna {
  border-color: #a0522d;
}
.bs-callout-sienna h4 {
  color: #a0522d;
}

.bs-callout-orchid {
  border-color: #da70d6;
}
.bs-callout-orchid h4 {
  color: #da70d6;
}

.bs-callout-moccasin {
  border-color: #ffe4b5;
}
.bs-callout-moccasin h4 {
  color: #ffe4b5;
}

.bs-callout-skyblue {
  border-color: #87ceeb;
}
.bs-callout-skyblue h4 {
  color: #87ceeb;
}

.bs-callout-chartreuse {
  border-color: #7fff00;
}
.bs-callout-chartreuse h4 {
  color: #7fff00;
}

.bs-callout-saddlebrown {
  border-color: #8b4513;
}
.bs-callout-saddlebrown h4 {
  color: #8b4513;
}

.bs-callout-mediumorchid {
  border-color: #ba55d3;
}
.bs-callout-mediumorchid h4 {
  color: #ba55d3;
}

.bs-callout-navajowhite {
  border-color: #ffdead;
}
.bs-callout-navajowhite h4 {
  color: #ffdead;
}

.bs-callout-lightblue {
  border-color: #add8e6;
}
.bs-callout-lightblue h4 {
  color: #add8e6;
}

.bs-callout-greenyellow {
  border-color: #adff2f;
}
.bs-callout-greenyellow h4 {
  color: #adff2f;
}

.bs-callout-maroon {
  border-color: #800000;
}
.bs-callout-maroon h4 {
  color: #800000;
}

.bs-callout-darkorchid {
  border-color: #9932cc;
}
.bs-callout-darkorchid h4 {
  color: #9932cc;
}

.bs-callout-peachpuff {
  border-color: #ffdab9;
}
.bs-callout-peachpuff h4 {
  color: #ffdab9;
}

.bs-callout-powderblue {
  border-color: #b0e0e6;
}
.bs-callout-powderblue h4 {
  color: #b0e0e6;
}

.bs-callout-lime {
  border-color: #00ff00;
}
.bs-callout-lime h4 {
  color: #00ff00;
}

.bs-callout-darkred {
  border-color: #8b0000;
}
.bs-callout-darkred h4 {
  color: #8b0000;
}

.bs-callout-darkviolet {
  border-color: #9400d3;
}
.bs-callout-darkviolet h4 {
  color: #9400d3;
}

.bs-callout-mistyrose {
  border-color: #ffe4e1;
}
.bs-callout-mistyrose h4 {
  color: #ffe4e1;
}

.bs-callout-paleturquoise {
  border-color: #afeeee;
}
.bs-callout-paleturquoise h4 {
  color: #afeeee;
}

.bs-callout-limegreen {
  border-color: #32cd32;
}
.bs-callout-limegreen h4 {
  color: #32cd32;
}

.bs-callout-brown {
  border-color: #a52a2a;
}
.bs-callout-brown h4 {
  color: #a52a2a;
}

.bs-callout-darkmagenta {
  border-color: #8b008b;
}
.bs-callout-darkmagenta h4 {
  color: #8b008b;
}

.bs-callout-lavenderblush {
  border-color: #fff0f5;
}
.bs-callout-lavenderblush h4 {
  color: #fff0f5;
}

.bs-callout-lightcyan {
  border-color: #e0ffff;
}
.bs-callout-lightcyan h4 {
  color: #e0ffff;
}

.bs-callout-yellowgreen {
  border-color: #9acd32;
}
.bs-callout-yellowgreen h4 {
  color: #9acd32;
}

.bs-callout-firebrick {
  border-color: #b22222;
}
.bs-callout-firebrick h4 {
  color: #b22222;
}

.bs-callout-purple {
  border-color: #800080;
}
.bs-callout-purple h4 {
  color: #800080;
}

.bs-callout-seashell {
  border-color: #fff5ee;
}
.bs-callout-seashell h4 {
  color: #fff5ee;
}

.bs-callout-cyan {
  border-color: #00ffff;
}
.bs-callout-cyan h4 {
  color: #00ffff;
}

.bs-callout-olivedrab {
  border-color: #6b8e23;
}
.bs-callout-olivedrab h4 {
  color: #6b8e23;
}

.bs-callout-indianred {
  border-color: #cd5c5c;
}
.bs-callout-indianred h4 {
  color: #cd5c5c;
}

.bs-callout-indigo {
  border-color: #4b0082;
}
.bs-callout-indigo h4 {
  color: #4b0082;
}

.bs-callout-oldlace {
  border-color: #fdf5e6;
}
.bs-callout-oldlace h4 {
  color: #fdf5e6;
}

.bs-callout-aqua {
  border-color: #00ffff;
}
.bs-callout-aqua h4 {
  color: #00ffff;
}

.bs-callout-olive {
  border-color: #808000;
}
.bs-callout-olive h4 {
  color: #808000;
}

.bs-callout-rosybrown {
  border-color: #bc8f8f;
}
.bs-callout-rosybrown h4 {
  color: #bc8f8f;
}

.bs-callout-darkslateblue {
  border-color: #483d8b;
}
.bs-callout-darkslateblue h4 {
  color: #483d8b;
}

.bs-callout-ivory {
  border-color: #fffff0;
}
.bs-callout-ivory h4 {
  color: #fffff0;
}

.bs-callout-turquoise {
  border-color: #40e0d0;
}
.bs-callout-turquoise h4 {
  color: #40e0d0;
}

.bs-callout-darkkhaki {
  border-color: #bdb76b;
}
.bs-callout-darkkhaki h4 {
  color: #bdb76b;
}

.bs-callout-darksalmon {
  border-color: #e9967a;
}
.bs-callout-darksalmon h4 {
  color: #e9967a;
}

.bs-callout-blueviolet {
  border-color: #8a2be2;
}
.bs-callout-blueviolet h4 {
  color: #8a2be2;
}

.bs-callout-honeydew {
  border-color: #f0fff0;
}
.bs-callout-honeydew h4 {
  color: #f0fff0;
}

.bs-callout-mediumturquoise {
  border-color: #48d1cc;
}
.bs-callout-mediumturquoise h4 {
  color: #48d1cc;
}

.bs-callout-palegoldenrod {
  border-color: #eee8aa;
}
.bs-callout-palegoldenrod h4 {
  color: #eee8aa;
}

.bs-callout-lightcoral {
  border-color: #f08080;
}
.bs-callout-lightcoral h4 {
  color: #f08080;
}

.bs-callout-mediumpurple {
  border-color: #9370db;
}
.bs-callout-mediumpurple h4 {
  color: #9370db;
}

.bs-callout-mintcream {
  border-color: #f5fffa;
}
.bs-callout-mintcream h4 {
  color: #f5fffa;
}

.bs-callout-darkturquoise {
  border-color: #00ced1;
}
.bs-callout-darkturquoise h4 {
  color: #00ced1;
}

.bs-callout-cornsilk {
  border-color: #fff8dc;
}
.bs-callout-cornsilk h4 {
  color: #fff8dc;
}

.bs-callout-salmon {
  border-color: #fa8072;
}
.bs-callout-salmon h4 {
  color: #fa8072;
}

.bs-callout-slateblue {
  border-color: #6a5acd;
}
.bs-callout-slateblue h4 {
  color: #6a5acd;
}

.bs-callout-azure {
  border-color: #f0ffff;
}
.bs-callout-azure h4 {
  color: #f0ffff;
}

.bs-callout-lightseagreen {
  border-color: #20b2aa;
}
.bs-callout-lightseagreen h4 {
  color: #20b2aa;
}

.bs-callout-beige {
  border-color: #f5f5dc;
}
.bs-callout-beige h4 {
  color: #f5f5dc;
}

.bs-callout-lightsalmon {
  border-color: #ffa07a;
}
.bs-callout-lightsalmon h4 {
  color: #ffa07a;
}

.bs-callout-mediumslateblue {
  border-color: #7b68ee;
}
.bs-callout-mediumslateblue h4 {
  color: #7b68ee;
}

/* bootstrap callout background color extentions */


.bs-callout-bg-black {
  background: #000000;
}
.bs-callout-bg-black h4 {
  background: #000000;
}

.bs-callout-bg-aliceblue {
  background: #f0f8ff;
}
.bs-callout-bg-aliceblue h4 {
  background: #f0f8ff;
}

.bs-callout-bg-cadetblue {
  background: #5f9ea0;
}
.bs-callout-bg-cadetblue h4 {
  background: #5f9ea0;
}

.bs-callout-bg-lightyellow {
  background: #ffffe0;
}
.bs-callout-bg-lightyellow h4 {
  background: #ffffe0;
}

.bs-callout-bg-coral {
  background: #ff7f50;
}
.bs-callout-bg-coral h4 {
  background: #ff7f50;
}

.bs-callout-bg-dimgray {
  background: #696969;
}
.bs-callout-bg-dimgray h4 {
  background: #696969;
}

.bs-callout-bg-lavender {
  background: #e6e6fa;
}
.bs-callout-bg-lavender h4 {
  background: #e6e6fa;
}

.bs-callout-bg-darkcyan {
  background: #008b8b;
}
.bs-callout-bg-darkcyan h4 {
  background: #008b8b;
}

.bs-callout-bg-lightgoldenrodyellow {
  background: #fafad2;
}
.bs-callout-bg-lightgoldenrodyellow h4 {
  background: #fafad2;
}

.bs-callout-bg-tomato {
  background: #ff6347;
}
.bs-callout-bg-tomato h4 {
  background: #ff6347;
}

.bs-callout-bg-gray {
  background: #808080;
}
.bs-callout-bg-gray h4 {
  background: #808080;
}

.bs-callout-bg-lightslategray {
  background: #778899;
}
.bs-callout-bg-lightslategray h4 {
  background: #778899;
}

.bs-callout-bg-teal {
  background: #008080;
}
.bs-callout-bg-teal h4 {
  background: #008080;
}

.bs-callout-bg-lemonchiffon {
  background: #fffacd;
}
.bs-callout-bg-lemonchiffon h4 {
  background: #fffacd;
}

.bs-callout-bg-orangered {
  background: #ff4500;
}
.bs-callout-bg-orangered h4 {
  background: #ff4500;
}

.bs-callout-bg-darkgray {
  background: #a9a9a9;
}
.bs-callout-bg-darkgray h4 {
  background: #a9a9a9;
}

.bs-callout-bg-slategray {
  background: #708090;
}
.bs-callout-bg-slategray h4 {
  background: #708090;
}

.bs-callout-bg-seagreen {
  background: #2e8b57;
}
.bs-callout-bg-seagreen h4 {
  background: #2e8b57;
}

.bs-callout-bg-wheat {
  background: #f5deb3;
}
.bs-callout-bg-wheat h4 {
  background: #f5deb3;
}

.bs-callout-bg-red {
  background: #ff0000;
}
.bs-callout-bg-red h4 {
  background: #ff0000;
}

.bs-callout-bg-silver {
  background: #c0c0c0;
}
.bs-callout-bg-silver h4 {
  background: #c0c0c0;
}

.bs-callout-bg-darkslategray {
  background: #2f4f4f;
}
.bs-callout-bg-darkslategray h4 {
  background: #2f4f4f;
}

.bs-callout-bg-darkolivegreen {
  background: #556b2f;
}
.bs-callout-bg-darkolivegreen h4 {
  background: #556b2f;
}

.bs-callout-bg-burlywood {
  background: #deb887;
}
.bs-callout-bg-burlywood h4 {
  background: #deb887;
}

.bs-callout-bg-crimson {
  background: #dc143c;
}
.bs-callout-bg-crimson h4 {
  background: #dc143c;
}

.bs-callout-bg-lightgrey {
  background: #d3d3d3;
}
.bs-callout-bg-lightgrey h4 {
  background: #d3d3d3;
}

.bs-callout-bg-lightsteelblue {
  background: #b0c4de;
}
.bs-callout-bg-lightsteelblue h4 {
  background: #b0c4de;
}

.bs-callout-bg-darkgreen {
  background: #006400;
}
.bs-callout-bg-darkgreen h4 {
  background: #006400;
}

.bs-callout-bg-tan {
  background: #d2b48c;
}
.bs-callout-bg-tan h4 {
  background: #d2b48c;
}

.bs-callout-bg-mediumvioletred {
  background: #c71585;
}
.bs-callout-bg-mediumvioletred h4 {
  background: #c71585;
}

.bs-callout-bg-gainsboro {
  background: #dcdcdc;
}
.bs-callout-bg-gainsboro h4 {
  background: #dcdcdc;
}

.bs-callout-bg-steelblue {
  background: #4682b4;
}
.bs-callout-bg-steelblue h4 {
  background: #4682b4;
}

.bs-callout-bg-green {
  background: #008000;
}
.bs-callout-bg-green h4 {
  background: #008000;
}

.bs-callout-bg-khaki {
  background: #f0e68c;
}
.bs-callout-bg-khaki h4 {
  background: #f0e68c;
}

.bs-callout-bg-deeppink {
  background: #ff1493;
}
.bs-callout-bg-deeppink h4 {
  background: #ff1493;
}

.bs-callout-bg-white {
  background: #ffffff;
}
.bs-callout-bg-white h4 {
  background: #ffffff;
}

.bs-callout-bg-royalblue {
  background: #4169e1;
}
.bs-callout-bg-royalblue h4 {
  background: #4169e1;
}

.bs-callout-bg-forestgreen {
  background: #228b22;
}
.bs-callout-bg-forestgreen h4 {
  background: #228b22;
}

.bs-callout-bg-yellow {
  background: #ffff00;
}
.bs-callout-bg-yellow h4 {
  background: #ffff00;
}

.bs-callout-bg-hotpink {
  background: #ff69b4;
}
.bs-callout-bg-hotpink h4 {
  background: #ff69b4;
}

.bs-callout-bg-snow {
  background: #fffafa;
}
.bs-callout-bg-snow h4 {
  background: #fffafa;
}

.bs-callout-bg-midnightblue {
  background: #191970;
}
.bs-callout-bg-midnightblue h4 {
  background: #191970;
}

.bs-callout-bg-mediumseagreen {
  background: #3cb371;
}
.bs-callout-bg-mediumseagreen h4 {
  background: #3cb371;
}

.bs-callout-bg-gold {
  background: #ffd700;
}
.bs-callout-bg-gold h4 {
  background: #ffd700;
}

.bs-callout-bg-palevioletred {
  background: #db7093;
}
.bs-callout-bg-palevioletred h4 {
  background: #db7093;
}

.bs-callout-bg-ghostwhite {
  background: #f8f8ff;
}
.bs-callout-bg-ghostwhite h4 {
  background: #f8f8ff;
}

.bs-callout-bg-navy {
  background: #000080;
}
.bs-callout-bg-navy h4 {
  background: #000080;
}

.bs-callout-bg-darkseagreen {
  background: #8fbc8f;
}
.bs-callout-bg-darkseagreen h4 {
  background: #8fbc8f;
}

.bs-callout-bg-orange {
  background: #ffa500;
}
.bs-callout-bg-orange h4 {
  background: #ffa500;
}

.bs-callout-bg-pink {
  background: #ffc0cb;
}
.bs-callout-bg-pink h4 {
  background: #ffc0cb;
}

.bs-callout-bg-whitesmoke {
  background: #f5f5f5;
}
.bs-callout-bg-whitesmoke h4 {
  background: #f5f5f5;
}

.bs-callout-bg-darkblue {
  background: #00008b;
}
.bs-callout-bg-darkblue h4 {
  background: #00008b;
}

.bs-callout-bg-mediumaquamarine {
  background: #66cdaa;
}
.bs-callout-bg-mediumaquamarine h4 {
  background: #66cdaa;
}

.bs-callout-bg-sandybrown {
  background: #f4a460;
}
.bs-callout-bg-sandybrown h4 {
  background: #f4a460;
}

.bs-callout-bg-lightpink {
  background: #ffb6c1;
}
.bs-callout-bg-lightpink h4 {
  background: #ffb6c1;
}

.bs-callout-bg-floralwhite {
  background: #fffaf0;
}
.bs-callout-bg-floralwhite h4 {
  background: #fffaf0;
}

.bs-callout-bg-mediumblue {
  background: #0000cd;
}
.bs-callout-bg-mediumblue h4 {
  background: #0000cd;
}

.bs-callout-bg-aquamarine {
  background: #7fffd4;
}
.bs-callout-bg-aquamarine h4 {
  background: #7fffd4;
}

.bs-callout-bg-darkorange {
  background: #ff8c00;
}
.bs-callout-bg-darkorange h4 {
  background: #ff8c00;
}

.bs-callout-bg-thistle {
  background: #d8bfd8;
}
.bs-callout-bg-thistle h4 {
  background: #d8bfd8;
}

.bs-callout-bg-linen {
  background: #faf0e6;
}
.bs-callout-bg-linen h4 {
  background: #faf0e6;
}

.bs-callout-bg-blue {
  background: #0000ff;
}
.bs-callout-bg-blue h4 {
  background: #0000ff;
}

.bs-callout-bg-palegreen {
  background: #98fb98;
}
.bs-callout-bg-palegreen h4 {
  background: #98fb98;
}

.bs-callout-bg-goldenrod {
  background: #daa520;
}
.bs-callout-bg-goldenrod h4 {
  background: #daa520;
}

.bs-callout-bg-magenta {
  background: #ff00ff;
}
.bs-callout-bg-magenta h4 {
  background: #ff00ff;
}

.bs-callout-bg-antiquewhite {
  background: #faebd7;
}
.bs-callout-bg-antiquewhite h4 {
  background: #faebd7;
}

.bs-callout-bg-dodgerblue {
  background: #1e90ff;
}
.bs-callout-bg-dodgerblue h4 {
  background: #1e90ff;
}

.bs-callout-bg-lightgreen {
  background: #90ee90;
}
.bs-callout-bg-lightgreen h4 {
  background: #90ee90;
}

.bs-callout-bg-peru {
  background: #cd853f;
}
.bs-callout-bg-peru h4 {
  background: #cd853f;
}

.bs-callout-bg-fuchsia {
  background: #ff00ff;
}
.bs-callout-bg-fuchsia h4 {
  background: #ff00ff;
}

.bs-callout-bg-papayawhip {
  background: #ffefd5;
}
.bs-callout-bg-papayawhip h4 {
  background: #ffefd5;
}

.bs-callout-bg-cornflowerblue {
  background: #6495ed;
}
.bs-callout-bg-cornflowerblue h4 {
  background: #6495ed;
}

.bs-callout-bg-springgreen {
  background: #00ff7f;
}
.bs-callout-bg-springgreen h4 {
  background: #00ff7f;
}

.bs-callout-bg-darkgoldenrod {
  background: #b8860b;
}
.bs-callout-bg-darkgoldenrod h4 {
  background: #b8860b;
}

.bs-callout-bg-violet {
  background: #ee82ee;
}
.bs-callout-bg-violet h4 {
  background: #ee82ee;
}

.bs-callout-bg-blanchedalmond {
  background: #ffebcd;
}
.bs-callout-bg-blanchedalmond h4 {
  background: #ffebcd;
}

.bs-callout-bg-deepskyblue {
  background: #00bfff;
}
.bs-callout-bg-deepskyblue h4 {
  background: #00bfff;
}

.bs-callout-bg-mediumspringgreen {
  background: #00fa9a;
}
.bs-callout-bg-mediumspringgreen h4 {
  background: #00fa9a;
}

.bs-callout-bg-chocolate {
  background: #d2691e;
}
.bs-callout-bg-chocolate h4 {
  background: #d2691e;
}

.bs-callout-bg-plum {
  background: #dda0dd;
}
.bs-callout-bg-plum h4 {
  background: #dda0dd;
}

.bs-callout-bg-bisque {
  background: #ffe4c4;
}
.bs-callout-bg-bisque h4 {
  background: #ffe4c4;
}

.bs-callout-bg-lightskyblue {
  background: #87cefa;
}
.bs-callout-bg-lightskyblue h4 {
  background: #87cefa;
}

.bs-callout-bg-lawngreen {
  background: #7cfc00;
}
.bs-callout-bg-lawngreen h4 {
  background: #7cfc00;
}

.bs-callout-bg-sienna {
  background: #a0522d;
}
.bs-callout-bg-sienna h4 {
  background: #a0522d;
}

.bs-callout-bg-orchid {
  background: #da70d6;
}
.bs-callout-bg-orchid h4 {
  background: #da70d6;
}

.bs-callout-bg-moccasin {
  background: #ffe4b5;
}
.bs-callout-bg-moccasin h4 {
  background: #ffe4b5;
}

.bs-callout-bg-skyblue {
  background: #87ceeb;
}
.bs-callout-bg-skyblue h4 {
  background: #87ceeb;
}

.bs-callout-bg-chartreuse {
  background: #7fff00;
}
.bs-callout-bg-chartreuse h4 {
  background: #7fff00;
}

.bs-callout-bg-saddlebrown {
  background: #8b4513;
}
.bs-callout-bg-saddlebrown h4 {
  background: #8b4513;
}

.bs-callout-bg-mediumorchid {
  background: #ba55d3;
}
.bs-callout-bg-mediumorchid h4 {
  background: #ba55d3;
}

.bs-callout-bg-navajowhite {
  background: #ffdead;
}
.bs-callout-bg-navajowhite h4 {
  background: #ffdead;
}

.bs-callout-bg-lightblue {
  background: #add8e6;
}
.bs-callout-bg-lightblue h4 {
  background: #add8e6;
}

.bs-callout-bg-greenyellow {
  background: #adff2f;
}
.bs-callout-bg-greenyellow h4 {
  background: #adff2f;
}

.bs-callout-bg-maroon {
  background: #800000;
}
.bs-callout-bg-maroon h4 {
  background: #800000;
}

.bs-callout-bg-darkorchid {
  background: #9932cc;
}
.bs-callout-bg-darkorchid h4 {
  background: #9932cc;
}

.bs-callout-bg-peachpuff {
  background: #ffdab9;
}
.bs-callout-bg-peachpuff h4 {
  background: #ffdab9;
}

.bs-callout-bg-powderblue {
  background: #b0e0e6;
}
.bs-callout-bg-powderblue h4 {
  background: #b0e0e6;
}

.bs-callout-bg-lime {
  background: #00ff00;
}
.bs-callout-bg-lime h4 {
  background: #00ff00;
}

.bs-callout-bg-darkred {
  background: #8b0000;
}
.bs-callout-bg-darkred h4 {
  background: #8b0000;
}

.bs-callout-bg-darkviolet {
  background: #9400d3;
}
.bs-callout-bg-darkviolet h4 {
  background: #9400d3;
}

.bs-callout-bg-mistyrose {
  background: #ffe4e1;
}
.bs-callout-bg-mistyrose h4 {
  background: #ffe4e1;
}

.bs-callout-bg-paleturquoise {
  background: #afeeee;
}
.bs-callout-bg-paleturquoise h4 {
  background: #afeeee;
}

.bs-callout-bg-limegreen {
  background: #32cd32;
}
.bs-callout-bg-limegreen h4 {
  background: #32cd32;
}

.bs-callout-bg-brown {
  background: #a52a2a;
}
.bs-callout-bg-brown h4 {
  background: #a52a2a;
}

.bs-callout-bg-darkmagenta {
  background: #8b008b;
}
.bs-callout-bg-darkmagenta h4 {
  background: #8b008b;
}

.bs-callout-bg-lavenderblush {
  background: #fff0f5;
}
.bs-callout-bg-lavenderblush h4 {
  background: #fff0f5;
}

.bs-callout-bg-lightcyan {
  background: #e0ffff;
}
.bs-callout-bg-lightcyan h4 {
  background: #e0ffff;
}

.bs-callout-bg-yellowgreen {
  background: #9acd32;
}
.bs-callout-bg-yellowgreen h4 {
  background: #9acd32;
}

.bs-callout-bg-firebrick {
  background: #b22222;
}
.bs-callout-bg-firebrick h4 {
  background: #b22222;
}

.bs-callout-bg-purple {
  background: #800080;
}
.bs-callout-bg-purple h4 {
  background: #800080;
}

.bs-callout-bg-seashell {
  background: #fff5ee;
}
.bs-callout-bg-seashell h4 {
  background: #fff5ee;
}

.bs-callout-bg-cyan {
  background: #00ffff;
}
.bs-callout-bg-cyan h4 {
  background: #00ffff;
}

.bs-callout-bg-olivedrab {
  background: #6b8e23;
}
.bs-callout-bg-olivedrab h4 {
  background: #6b8e23;
}

.bs-callout-bg-indianred {
  background: #cd5c5c;
}
.bs-callout-bg-indianred h4 {
  background: #cd5c5c;
}

.bs-callout-bg-indigo {
  background: #4b0082;
}
.bs-callout-bg-indigo h4 {
  background: #4b0082;
}

.bs-callout-bg-oldlace {
  background: #fdf5e6;
}
.bs-callout-bg-oldlace h4 {
  background: #fdf5e6;
}

.bs-callout-bg-aqua {
  background: #00ffff;
}
.bs-callout-bg-aqua h4 {
  background: #00ffff;
}

.bs-callout-bg-olive {
  background: #808000;
}
.bs-callout-bg-olive h4 {
  background: #808000;
}

.bs-callout-bg-rosybrown {
  background: #bc8f8f;
}
.bs-callout-bg-rosybrown h4 {
  background: #bc8f8f;
}

.bs-callout-bg-darkslateblue {
  background: #483d8b;
}
.bs-callout-bg-darkslateblue h4 {
  background: #483d8b;
}

.bs-callout-bg-ivory {
  background: #fffff0;
}
.bs-callout-bg-ivory h4 {
  background: #fffff0;
}

.bs-callout-bg-turquoise {
  background: #40e0d0;
}
.bs-callout-bg-turquoise h4 {
  background: #40e0d0;
}

.bs-callout-bg-darkkhaki {
  background: #bdb76b;
}
.bs-callout-bg-darkkhaki h4 {
  background: #bdb76b;
}

.bs-callout-bg-darksalmon {
  background: #e9967a;
}
.bs-callout-bg-darksalmon h4 {
  background: #e9967a;
}

.bs-callout-bg-blueviolet {
  background: #8a2be2;
}
.bs-callout-bg-blueviolet h4 {
  background: #8a2be2;
}

.bs-callout-bg-honeydew {
  background: #f0fff0;
}
.bs-callout-bg-honeydew h4 {
  background: #f0fff0;
}

.bs-callout-bg-mediumturquoise {
  background: #48d1cc;
}
.bs-callout-bg-mediumturquoise h4 {
  background: #48d1cc;
}

.bs-callout-bg-palegoldenrod {
  background: #eee8aa;
}
.bs-callout-bg-palegoldenrod h4 {
  background: #eee8aa;
}

.bs-callout-bg-lightcoral {
  background: #f08080;
}
.bs-callout-bg-lightcoral h4 {
  background: #f08080;
}

.bs-callout-bg-mediumpurple {
  background: #9370db;
}
.bs-callout-bg-mediumpurple h4 {
  background: #9370db;
}

.bs-callout-bg-mintcream {
  background: #f5fffa;
}
.bs-callout-bg-mintcream h4 {
  background: #f5fffa;
}

.bs-callout-bg-darkturquoise {
  background: #00ced1;
}
.bs-callout-bg-darkturquoise h4 {
  background: #00ced1;
}

.bs-callout-bg-cornsilk {
  background: #fff8dc;
}
.bs-callout-bg-cornsilk h4 {
  background: #fff8dc;
}

.bs-callout-bg-salmon {
  background: #fa8072;
}
.bs-callout-bg-salmon h4 {
  background: #fa8072;
}

.bs-callout-bg-slateblue {
  background: #6a5acd;
}
.bs-callout-bg-slateblue h4 {
  background: #6a5acd;
}

.bs-callout-bg-azure {
  background: #f0ffff;
}
.bs-callout-bg-azure h4 {
  background: #f0ffff;
}

.bs-callout-bg-lightseagreen {
  background: #20b2aa;
}
.bs-callout-bg-lightseagreen h4 {
  background: #20b2aa;
}

.bs-callout-bg-beige {
  background: #f5f5dc;
}
.bs-callout-bg-beige h4 {
  background: #f5f5dc;
}

.bs-callout-bg-lightsalmon {
  background: #ffa07a;
}
.bs-callout-bg-lightsalmon h4 {
  background: #ffa07a;
}

.bs-callout-bg-mediumslateblue {
  background: #7b68ee;
}
.bs-callout-bg-mediumslateblue h4 {
  background: #7b68ee;
}

/*****************************
*  http://nipponcolors.com/  *
*****************************/

.bs-callout-DC9FB4 {
    border-color: #DC9FB4
}

.bs-callout-E16B8C {
    border-color: #E16B8C
}

.bs-callout-8E354A {
    border-color: #8E354A
}

.bs-callout-F8C3CD {
    border-color: #F8C3CD
}

.bs-callout-F4A7B9 {
    border-color: #F4A7B9
}

.bs-callout-64363C {
    border-color: #64363C
}

.bs-callout-F596AA {
    border-color: #F596AA
}

.bs-callout-B5495B {
    border-color: #B5495B
}

.bs-callout-E87A90 {
    border-color: #E87A90
}

.bs-callout-D05A6E {
    border-color: #D05A6E
}

.bs-callout-DB4D6D {
    border-color: #DB4D6D
}

.bs-callout-FEDFE1 {
    border-color: #FEDFE1
}

.bs-callout-9E7A7A {
    border-color: #9E7A7A
}

.bs-callout-D0104C {
    border-color: #D0104C
}

.bs-callout-9F353A {
    border-color: #9F353A
}

.bs-callout-CB1B45 {
    border-color: #CB1B45
}

.bs-callout-EEA9A9 {
    border-color: #EEA9A9
}

.bs-callout-BF6766 {
    border-color: #BF6766
}

.bs-callout-86473F {
    border-color: #86473F
}

.bs-callout-B19693 {
    border-color: #B19693
}

.bs-callout-EB7A77 {
    border-color: #EB7A77
}

.bs-callout-954A45 {
    border-color: #954A45
}

.bs-callout-A96360 {
    border-color: #A96360
}

.bs-callout-CB4042 {
    border-color: #CB4042
}

.bs-callout-AB3B3A {
    border-color: #AB3B3A
}

.bs-callout-D7C4BB {
    border-color: #D7C4BB
}

.bs-callout-904840 {
    border-color: #904840
}

.bs-callout-734338 {
    border-color: #734338
}

.bs-callout-C73E3A {
    border-color: #C73E3A
}

.bs-callout-554236 {
    border-color: #554236
}

.bs-callout-994639 {
    border-color: #994639
}

.bs-callout-F19483 {
    border-color: #F19483
}

.bs-callout-B54434 {
    border-color: #B54434
}

.bs-callout-B9887D {
    border-color: #B9887D
}

.bs-callout-F17C67 {
    border-color: #F17C67
}

.bs-callout-884C3A {
    border-color: #884C3A
}

.bs-callout-E83015 {
    border-color: #E83015
}

.bs-callout-D75455 {
    border-color: #D75455
}

.bs-callout-B55D4C {
    border-color: #B55D4C
}

.bs-callout-854836 {
    border-color: #854836
}

.bs-callout-A35E47 {
    border-color: #A35E47
}

.bs-callout-CC543A {
    border-color: #CC543A
}

.bs-callout-724832 {
    border-color: #724832
}

.bs-callout-F75C2F {
    border-color: #F75C2F
}

.bs-callout-6A4028 {
    border-color: #6A4028
}

.bs-callout-9A5034 {
    border-color: #9A5034
}

.bs-callout-C46243 {
    border-color: #C46243
}

.bs-callout-AF5F3C {
    border-color: #AF5F3C
}

.bs-callout-FB966E {
    border-color: #FB966E
}

.bs-callout-724938 {
    border-color: #724938
}

.bs-callout-B47157 {
    border-color: #B47157
}

.bs-callout-DB8E71 {
    border-color: #DB8E71
}

.bs-callout-F05E1C {
    border-color: #F05E1C
}

.bs-callout-ED784A {
    border-color: #ED784A
}

.bs-callout-CA7853 {
    border-color: #CA7853
}

.bs-callout-B35C37 {
    border-color: #B35C37
}

.bs-callout-563F2E {
    border-color: #563F2E
}

.bs-callout-E3916E {
    border-color: #E3916E
}

.bs-callout-8F5A3C {
    border-color: #8F5A3C
}

.bs-callout-F0A986 {
    border-color: #F0A986
}

.bs-callout-A0674B {
    border-color: #A0674B
}

.bs-callout-C1693C {
    border-color: #C1693C
}

.bs-callout-FB9966 {
    border-color: #FB9966
}

.bs-callout-947A6D {
    border-color: #947A6D
}

.bs-callout-A36336 {
    border-color: #A36336
}

.bs-callout-E79460 {
    border-color: #E79460
}

.bs-callout-7D532C {
    border-color: #7D532C
}

.bs-callout-C78550 {
    border-color: #C78550
}

.bs-callout-985F2A {
    border-color: #985F2A
}

.bs-callout-E1A679 {
    border-color: #E1A679
}

.bs-callout-855B32 {
    border-color: #855B32
}

.bs-callout-FC9F4D {
    border-color: #FC9F4D
}

.bs-callout-FFBA84 {
    border-color: #FFBA84
}

.bs-callout-E98B2A {
    border-color: #E98B2A
}

.bs-callout-E9A368 {
    border-color: #E9A368
}

.bs-callout-B17844 {
    border-color: #B17844
}

.bs-callout-96632E {
    border-color: #96632E
}

.bs-callout-43341B {
    border-color: #43341B
}

.bs-callout-CA7A2C {
    border-color: #CA7A2C
}

.bs-callout-ECB88A {
    border-color: #ECB88A
}

.bs-callout-78552B {
    border-color: #78552B
}

.bs-callout-B07736 {
    border-color: #B07736
}

.bs-callout-967249 {
    border-color: #967249
}

.bs-callout-E2943B {
    border-color: #E2943B
}

.bs-callout-C7802D {
    border-color: #C7802D
}

.bs-callout-9B6E23 {
    border-color: #9B6E23
}

.bs-callout-6E552F {
    border-color: #6E552F
}

.bs-callout-EBB471 {
    border-color: #EBB471
}

.bs-callout-D7B98E {
    border-color: #D7B98E
}

.bs-callout-82663A {
    border-color: #82663A
}

.bs-callout-B68E55 {
    border-color: #B68E55
}

.bs-callout-BC9F77 {
    border-color: #BC9F77
}

.bs-callout-876633 {
    border-color: #876633
}

.bs-callout-C18A26 {
    border-color: #C18A26
}

.bs-callout-FFB11B {
    border-color: #FFB11B
}

.bs-callout-D19826 {
    border-color: #D19826
}

.bs-callout-DDA52D {
    border-color: #DDA52D
}

.bs-callout-C99833 {
    border-color: #C99833
}

.bs-callout-F9BF45 {
    border-color: #F9BF45
}

.bs-callout-DCB879 {
    border-color: #DCB879
}

.bs-callout-BA9132 {
    border-color: #BA9132
}

.bs-callout-E8B647 {
    border-color: #E8B647
}

.bs-callout-F7C242 {
    border-color: #F7C242
}

.bs-callout-7D6C46 {
    border-color: #7D6C46
}

.bs-callout-DAC9A6 {
    border-color: #DAC9A6
}

.bs-callout-FAD689 {
    border-color: #FAD689
}

.bs-callout-D9AB42 {
    border-color: #D9AB42
}

.bs-callout-F6C555 {
    border-color: #F6C555
}

.bs-callout-FFC408 {
    border-color: #FFC408
}

.bs-callout-EFBB24 {
    border-color: #EFBB24
}

.bs-callout-CAAD5F {
    border-color: #CAAD5F
}

.bs-callout-8D742A {
    border-color: #8D742A
}

.bs-callout-B4A582 {
    border-color: #B4A582
}

.bs-callout-877F6C {
    border-color: #877F6C
}

.bs-callout-897D55 {
    border-color: #897D55
}

.bs-callout-74673E {
    border-color: #74673E
}

.bs-callout-A28C37 {
    border-color: #A28C37
}

.bs-callout-6C6024 {
    border-color: #6C6024
}

.bs-callout-867835 {
    border-color: #867835
}

.bs-callout-62592C {
    border-color: #62592C
}

.bs-callout-E9CD4C {
    border-color: #E9CD4C
}

.bs-callout-F7D94C {
    border-color: #F7D94C
}

.bs-callout-FBE251 {
    border-color: #FBE251
}

.bs-callout-D9CD90 {
    border-color: #D9CD90
}

.bs-callout-ADA142 {
    border-color: #ADA142
}

.bs-callout-DDD23B {
    border-color: #DDD23B
}

.bs-callout-A5A051 {
    border-color: #A5A051
}

.bs-callout-BEC23F {
    border-color: #BEC23F
}

.bs-callout-6C6A2D {
    border-color: #6C6A2D
}

.bs-callout-939650 {
    border-color: #939650
}

.bs-callout-838A2D {
    border-color: #838A2D
}

.bs-callout-B1B479 {
    border-color: #B1B479
}

.bs-callout-616138 {
    border-color: #616138
}

.bs-callout-4B4E2A {
    border-color: #4B4E2A
}

.bs-callout-5B622E {
    border-color: #5B622E
}

.bs-callout-4D5139 {
    border-color: #4D5139
}

.bs-callout-89916B {
    border-color: #89916B
}

.bs-callout-90B44B {
    border-color: #90B44B
}

.bs-callout-91AD70 {
    border-color: #91AD70
}

.bs-callout-B5CAA0 {
    border-color: #B5CAA0
}

.bs-callout-646A58 {
    border-color: #646A58
}

.bs-callout-7BA23F {
    border-color: #7BA23F
}

.bs-callout-86C166 {
    border-color: #86C166
}

.bs-callout-4A593D {
    border-color: #4A593D
}

.bs-callout-42602D {
    border-color: #42602D
}

.bs-callout-516E41 {
    border-color: #516E41
}

.bs-callout-91B493 {
    border-color: #91B493
}

.bs-callout-808F7C {
    border-color: #808F7C
}

.bs-callout-1B813E {
    border-color: #1B813E
}

.bs-callout-5DAC81 {
    border-color: #5DAC81
}

.bs-callout-36563C {
    border-color: #36563C
}

.bs-callout-227D51 {
    border-color: #227D51
}

.bs-callout-A8D8B9 {
    border-color: #A8D8B9
}

.bs-callout-6A8372 {
    border-color: #6A8372
}

.bs-callout-2D6D4B {
    border-color: #2D6D4B
}

.bs-callout-465D4C {
    border-color: #465D4C
}

.bs-callout-24936E {
    border-color: #24936E
}

.bs-callout-86A697 {
    border-color: #86A697
}

.bs-callout-00896C {
    border-color: #00896C
}

.bs-callout-096148 {
    border-color: #096148
}

.bs-callout-20604F {
    border-color: #20604F
}

.bs-callout-0F4C3A {
    border-color: #0F4C3A
}

.bs-callout-4F726C {
    border-color: #4F726C
}

.bs-callout-00AA90 {
    border-color: #00AA90
}

.bs-callout-69B0AC {
    border-color: #69B0AC
}

.bs-callout-26453D {
    border-color: #26453D
}

.bs-callout-66BAB7 {
    border-color: #66BAB7
}

.bs-callout-268785 {
    border-color: #268785
}

.bs-callout-405B55 {
    border-color: #405B55
}

.bs-callout-305A56 {
    border-color: #305A56
}

.bs-callout-78C2C4 {
    border-color: #78C2C4
}

.bs-callout-376B6D {
    border-color: #376B6D
}

.bs-callout-A5DEE4 {
    border-color: #A5DEE4
}

.bs-callout-77969A {
    border-color: #77969A
}

.bs-callout-6699A1 {
    border-color: #6699A1
}

.bs-callout-81C7D4 {
    border-color: #81C7D4
}

.bs-callout-33A6B8 {
    border-color: #33A6B8
}

.bs-callout-0C4842 {
    border-color: #0C4842
}

.bs-callout-0D5661 {
    border-color: #0D5661
}

.bs-callout-0089A7 {
    border-color: #0089A7
}

.bs-callout-336774 {
    border-color: #336774
}

.bs-callout-255359 {
    border-color: #255359
}

.bs-callout-1E88A8 {
    border-color: #1E88A8
}

.bs-callout-566C73 {
    border-color: #566C73
}

.bs-callout-577C8A {
    border-color: #577C8A
}

.bs-callout-58B2DC {
    border-color: #58B2DC
}

.bs-callout-2B5F75 {
    border-color: #2B5F75
}

.bs-callout-3A8FB7 {
    border-color: #3A8FB7
}

.bs-callout-2E5C6E {
    border-color: #2E5C6E
}

.bs-callout-006284 {
    border-color: #006284
}

.bs-callout-7DB9DE {
    border-color: #7DB9DE
}

.bs-callout-51A8DD {
    border-color: #51A8DD
}

.bs-callout-2EA9DF {
    border-color: #2EA9DF
}

.bs-callout-0B1013 {
    border-color: #0B1013
}

.bs-callout-0F2540 {
    border-color: #0F2540
}

.bs-callout-08192D {
    border-color: #08192D
}

.bs-callout-005CAF {
    border-color: #005CAF
}

.bs-callout-0B346E {
    border-color: #0B346E
}

.bs-callout-7B90D2 {
    border-color: #7B90D2
}

.bs-callout-6E75A4 {
    border-color: #6E75A4
}

.bs-callout-261E47 {
    border-color: #261E47
}

.bs-callout-113285 {
    border-color: #113285
}

.bs-callout-4E4F97 {
    border-color: #4E4F97
}

.bs-callout-211E55 {
    border-color: #211E55
}

.bs-callout-8B81C3 {
    border-color: #8B81C3
}

.bs-callout-70649A {
    border-color: #70649A
}

.bs-callout-9B90C2 {
    border-color: #9B90C2
}

.bs-callout-8A6BBE {
    border-color: #8A6BBE
}

.bs-callout-6A4C9C {
    border-color: #6A4C9C
}

.bs-callout-8F77B5 {
    border-color: #8F77B5
}

.bs-callout-533D5B {
    border-color: #533D5B
}

.bs-callout-B28FCE {
    border-color: #B28FCE
}

.bs-callout-986DB2 {
    border-color: #986DB2
}

.bs-callout-77428D {
    border-color: #77428D
}

.bs-callout-3C2F41 {
    border-color: #3C2F41
}

.bs-callout-4A225D {
    border-color: #4A225D
}

.bs-callout-66327C {
    border-color: #66327C
}

.bs-callout-592C63 {
    border-color: #592C63
}

.bs-callout-6F3381 {
    border-color: #6F3381
}

.bs-callout-574C57 {
    border-color: #574C57
}

.bs-callout-B481BB {
    border-color: #B481BB
}

.bs-callout-3F2B36 {
    border-color: #3F2B36
}

.bs-callout-572A3F {
    border-color: #572A3F
}

.bs-callout-5E3D50 {
    border-color: #5E3D50
}

.bs-callout-72636E {
    border-color: #72636E
}

.bs-callout-622954 {
    border-color: #622954
}

.bs-callout-6D2E5B {
    border-color: #6D2E5B
}

.bs-callout-C1328E {
    border-color: #C1328E
}

.bs-callout-A8497A {
    border-color: #A8497A
}

.bs-callout-562E37 {
    border-color: #562E37
}

.bs-callout-E03C8A {
    border-color: #E03C8A
}

.bs-callout-60373E {
    border-color: #60373E
}

.bs-callout-FCFAF2 {
    border-color: #FCFAF2
}

.bs-callout-FFFFFB {
    border-color: #FFFFFB
}

.bs-callout-BDC0BA {
    border-color: #BDC0BA
}

.bs-callout-91989F {
    border-color: #91989F
}

.bs-callout-787878 {
    border-color: #787878
}

.bs-callout-828282 {
    border-color: #828282
}

.bs-callout-787D7B {
    border-color: #787D7B
}

.bs-callout-707C74 {
    border-color: #707C74
}

.bs-callout-656765 {
    border-color: #656765
}

.bs-callout-535953 {
    border-color: #535953
}

.bs-callout-4F4F48 {
    border-color: #4F4F48
}

.bs-callout-52433D {
    border-color: #52433D
}

.bs-callout-373C38 {
    border-color: #373C38
}

.bs-callout-3A3226 {
    border-color: #3A3226
}

.bs-callout-434343 {
    border-color: #434343
}

.bs-callout-1C1C1C {
    border-color: #1C1C1C
}

.bs-callout-080808 {
    border-color: #080808
}

.bs-callout-0C0C0C {
    border-color: #0C0C0C
}

.bs-callout-bg-DC9FB4 {
    background-color: #DC9FB4
}

.bs-callout-bg-E16B8C {
    background-color: #E16B8C
}

.bs-callout-bg-8E354A {
    background-color: #8E354A
}

.bs-callout-bg-F8C3CD {
    background-color: #F8C3CD
}

.bs-callout-bg-F4A7B9 {
    background-color: #F4A7B9
}

.bs-callout-bg-64363C {
    background-color: #64363C
}

.bs-callout-bg-F596AA {
    background-color: #F596AA
}

.bs-callout-bg-B5495B {
    background-color: #B5495B
}

.bs-callout-bg-E87A90 {
    background-color: #E87A90
}

.bs-callout-bg-D05A6E {
    background-color: #D05A6E
}

.bs-callout-bg-DB4D6D {
    background-color: #DB4D6D
}

.bs-callout-bg-FEDFE1 {
    background-color: #FEDFE1
}

.bs-callout-bg-9E7A7A {
    background-color: #9E7A7A
}

.bs-callout-bg-D0104C {
    background-color: #D0104C
}

.bs-callout-bg-9F353A {
    background-color: #9F353A
}

.bs-callout-bg-CB1B45 {
    background-color: #CB1B45
}

.bs-callout-bg-EEA9A9 {
    background-color: #EEA9A9
}

.bs-callout-bg-BF6766 {
    background-color: #BF6766
}

.bs-callout-bg-86473F {
    background-color: #86473F
}

.bs-callout-bg-B19693 {
    background-color: #B19693
}

.bs-callout-bg-EB7A77 {
    background-color: #EB7A77
}

.bs-callout-bg-954A45 {
    background-color: #954A45
}

.bs-callout-bg-A96360 {
    background-color: #A96360
}

.bs-callout-bg-CB4042 {
    background-color: #CB4042
}

.bs-callout-bg-AB3B3A {
    background-color: #AB3B3A
}

.bs-callout-bg-D7C4BB {
    background-color: #D7C4BB
}

.bs-callout-bg-904840 {
    background-color: #904840
}

.bs-callout-bg-734338 {
    background-color: #734338
}

.bs-callout-bg-C73E3A {
    background-color: #C73E3A
}

.bs-callout-bg-554236 {
    background-color: #554236
}

.bs-callout-bg-994639 {
    background-color: #994639
}

.bs-callout-bg-F19483 {
    background-color: #F19483
}

.bs-callout-bg-B54434 {
    background-color: #B54434
}

.bs-callout-bg-B9887D {
    background-color: #B9887D
}

.bs-callout-bg-F17C67 {
    background-color: #F17C67
}

.bs-callout-bg-884C3A {
    background-color: #884C3A
}

.bs-callout-bg-E83015 {
    background-color: #E83015
}

.bs-callout-bg-D75455 {
    background-color: #D75455
}

.bs-callout-bg-B55D4C {
    background-color: #B55D4C
}

.bs-callout-bg-854836 {
    background-color: #854836
}

.bs-callout-bg-A35E47 {
    background-color: #A35E47
}

.bs-callout-bg-CC543A {
    background-color: #CC543A
}

.bs-callout-bg-724832 {
    background-color: #724832
}

.bs-callout-bg-F75C2F {
    background-color: #F75C2F
}

.bs-callout-bg-6A4028 {
    background-color: #6A4028
}

.bs-callout-bg-9A5034 {
    background-color: #9A5034
}

.bs-callout-bg-C46243 {
    background-color: #C46243
}

.bs-callout-bg-AF5F3C {
    background-color: #AF5F3C
}

.bs-callout-bg-FB966E {
    background-color: #FB966E
}

.bs-callout-bg-724938 {
    background-color: #724938
}

.bs-callout-bg-B47157 {
    background-color: #B47157
}

.bs-callout-bg-DB8E71 {
    background-color: #DB8E71
}

.bs-callout-bg-F05E1C {
    background-color: #F05E1C
}

.bs-callout-bg-ED784A {
    background-color: #ED784A
}

.bs-callout-bg-CA7853 {
    background-color: #CA7853
}

.bs-callout-bg-B35C37 {
    background-color: #B35C37
}

.bs-callout-bg-563F2E {
    background-color: #563F2E
}

.bs-callout-bg-E3916E {
    background-color: #E3916E
}

.bs-callout-bg-8F5A3C {
    background-color: #8F5A3C
}

.bs-callout-bg-F0A986 {
    background-color: #F0A986
}

.bs-callout-bg-A0674B {
    background-color: #A0674B
}

.bs-callout-bg-C1693C {
    background-color: #C1693C
}

.bs-callout-bg-FB9966 {
    background-color: #FB9966
}

.bs-callout-bg-947A6D {
    background-color: #947A6D
}

.bs-callout-bg-A36336 {
    background-color: #A36336
}

.bs-callout-bg-E79460 {
    background-color: #E79460
}

.bs-callout-bg-7D532C {
    background-color: #7D532C
}

.bs-callout-bg-C78550 {
    background-color: #C78550
}

.bs-callout-bg-985F2A {
    background-color: #985F2A
}

.bs-callout-bg-E1A679 {
    background-color: #E1A679
}

.bs-callout-bg-855B32 {
    background-color: #855B32
}

.bs-callout-bg-FC9F4D {
    background-color: #FC9F4D
}

.bs-callout-bg-FFBA84 {
    background-color: #FFBA84
}

.bs-callout-bg-E98B2A {
    background-color: #E98B2A
}

.bs-callout-bg-E9A368 {
    background-color: #E9A368
}

.bs-callout-bg-B17844 {
    background-color: #B17844
}

.bs-callout-bg-96632E {
    background-color: #96632E
}

.bs-callout-bg-43341B {
    background-color: #43341B
}

.bs-callout-bg-CA7A2C {
    background-color: #CA7A2C
}

.bs-callout-bg-ECB88A {
    background-color: #ECB88A
}

.bs-callout-bg-78552B {
    background-color: #78552B
}

.bs-callout-bg-B07736 {
    background-color: #B07736
}

.bs-callout-bg-967249 {
    background-color: #967249
}

.bs-callout-bg-E2943B {
    background-color: #E2943B
}

.bs-callout-bg-C7802D {
    background-color: #C7802D
}

.bs-callout-bg-9B6E23 {
    background-color: #9B6E23
}

.bs-callout-bg-6E552F {
    background-color: #6E552F
}

.bs-callout-bg-EBB471 {
    background-color: #EBB471
}

.bs-callout-bg-D7B98E {
    background-color: #D7B98E
}

.bs-callout-bg-82663A {
    background-color: #82663A
}

.bs-callout-bg-B68E55 {
    background-color: #B68E55
}

.bs-callout-bg-BC9F77 {
    background-color: #BC9F77
}

.bs-callout-bg-876633 {
    background-color: #876633
}

.bs-callout-bg-C18A26 {
    background-color: #C18A26
}

.bs-callout-bg-FFB11B {
    background-color: #FFB11B
}

.bs-callout-bg-D19826 {
    background-color: #D19826
}

.bs-callout-bg-DDA52D {
    background-color: #DDA52D
}

.bs-callout-bg-C99833 {
    background-color: #C99833
}

.bs-callout-bg-F9BF45 {
    background-color: #F9BF45
}

.bs-callout-bg-DCB879 {
    background-color: #DCB879
}

.bs-callout-bg-BA9132 {
    background-color: #BA9132
}

.bs-callout-bg-E8B647 {
    background-color: #E8B647
}

.bs-callout-bg-F7C242 {
    background-color: #F7C242
}

.bs-callout-bg-7D6C46 {
    background-color: #7D6C46
}

.bs-callout-bg-DAC9A6 {
    background-color: #DAC9A6
}

.bs-callout-bg-FAD689 {
    background-color: #FAD689
}

.bs-callout-bg-D9AB42 {
    background-color: #D9AB42
}

.bs-callout-bg-F6C555 {
    background-color: #F6C555
}

.bs-callout-bg-FFC408 {
    background-color: #FFC408
}

.bs-callout-bg-EFBB24 {
    background-color: #EFBB24
}

.bs-callout-bg-CAAD5F {
    background-color: #CAAD5F
}

.bs-callout-bg-8D742A {
    background-color: #8D742A
}

.bs-callout-bg-B4A582 {
    background-color: #B4A582
}

.bs-callout-bg-877F6C {
    background-color: #877F6C
}

.bs-callout-bg-897D55 {
    background-color: #897D55
}

.bs-callout-bg-74673E {
    background-color: #74673E
}

.bs-callout-bg-A28C37 {
    background-color: #A28C37
}

.bs-callout-bg-6C6024 {
    background-color: #6C6024
}

.bs-callout-bg-867835 {
    background-color: #867835
}

.bs-callout-bg-62592C {
    background-color: #62592C
}

.bs-callout-bg-E9CD4C {
    background-color: #E9CD4C
}

.bs-callout-bg-F7D94C {
    background-color: #F7D94C
}

.bs-callout-bg-FBE251 {
    background-color: #FBE251
}

.bs-callout-bg-D9CD90 {
    background-color: #D9CD90
}

.bs-callout-bg-ADA142 {
    background-color: #ADA142
}

.bs-callout-bg-DDD23B {
    background-color: #DDD23B
}

.bs-callout-bg-A5A051 {
    background-color: #A5A051
}

.bs-callout-bg-BEC23F {
    background-color: #BEC23F
}

.bs-callout-bg-6C6A2D {
    background-color: #6C6A2D
}

.bs-callout-bg-939650 {
    background-color: #939650
}

.bs-callout-bg-838A2D {
    background-color: #838A2D
}

.bs-callout-bg-B1B479 {
    background-color: #B1B479
}

.bs-callout-bg-616138 {
    background-color: #616138
}

.bs-callout-bg-4B4E2A {
    background-color: #4B4E2A
}

.bs-callout-bg-5B622E {
    background-color: #5B622E
}

.bs-callout-bg-4D5139 {
    background-color: #4D5139
}

.bs-callout-bg-89916B {
    background-color: #89916B
}

.bs-callout-bg-90B44B {
    background-color: #90B44B
}

.bs-callout-bg-91AD70 {
    background-color: #91AD70
}

.bs-callout-bg-B5CAA0 {
    background-color: #B5CAA0
}

.bs-callout-bg-646A58 {
    background-color: #646A58
}

.bs-callout-bg-7BA23F {
    background-color: #7BA23F
}

.bs-callout-bg-86C166 {
    background-color: #86C166
}

.bs-callout-bg-4A593D {
    background-color: #4A593D
}

.bs-callout-bg-42602D {
    background-color: #42602D
}

.bs-callout-bg-516E41 {
    background-color: #516E41
}

.bs-callout-bg-91B493 {
    background-color: #91B493
}

.bs-callout-bg-808F7C {
    background-color: #808F7C
}

.bs-callout-bg-1B813E {
    background-color: #1B813E
}

.bs-callout-bg-5DAC81 {
    background-color: #5DAC81
}

.bs-callout-bg-36563C {
    background-color: #36563C
}

.bs-callout-bg-227D51 {
    background-color: #227D51
}

.bs-callout-bg-A8D8B9 {
    background-color: #A8D8B9
}

.bs-callout-bg-6A8372 {
    background-color: #6A8372
}

.bs-callout-bg-2D6D4B {
    background-color: #2D6D4B
}

.bs-callout-bg-465D4C {
    background-color: #465D4C
}

.bs-callout-bg-24936E {
    background-color: #24936E
}

.bs-callout-bg-86A697 {
    background-color: #86A697
}

.bs-callout-bg-00896C {
    background-color: #00896C
}

.bs-callout-bg-096148 {
    background-color: #096148
}

.bs-callout-bg-20604F {
    background-color: #20604F
}

.bs-callout-bg-0F4C3A {
    background-color: #0F4C3A
}

.bs-callout-bg-4F726C {
    background-color: #4F726C
}

.bs-callout-bg-00AA90 {
    background-color: #00AA90
}

.bs-callout-bg-69B0AC {
    background-color: #69B0AC
}

.bs-callout-bg-26453D {
    background-color: #26453D
}

.bs-callout-bg-66BAB7 {
    background-color: #66BAB7
}

.bs-callout-bg-268785 {
    background-color: #268785
}

.bs-callout-bg-405B55 {
    background-color: #405B55
}

.bs-callout-bg-305A56 {
    background-color: #305A56
}

.bs-callout-bg-78C2C4 {
    background-color: #78C2C4
}

.bs-callout-bg-376B6D {
    background-color: #376B6D
}

.bs-callout-bg-A5DEE4 {
    background-color: #A5DEE4
}

.bs-callout-bg-77969A {
    background-color: #77969A
}

.bs-callout-bg-6699A1 {
    background-color: #6699A1
}

.bs-callout-bg-81C7D4 {
    background-color: #81C7D4
}

.bs-callout-bg-33A6B8 {
    background-color: #33A6B8
}

.bs-callout-bg-0C4842 {
    background-color: #0C4842
}

.bs-callout-bg-0D5661 {
    background-color: #0D5661
}

.bs-callout-bg-0089A7 {
    background-color: #0089A7
}

.bs-callout-bg-336774 {
    background-color: #336774
}

.bs-callout-bg-255359 {
    background-color: #255359
}

.bs-callout-bg-1E88A8 {
    background-color: #1E88A8
}

.bs-callout-bg-566C73 {
    background-color: #566C73
}

.bs-callout-bg-577C8A {
    background-color: #577C8A
}

.bs-callout-bg-58B2DC {
    background-color: #58B2DC
}

.bs-callout-bg-2B5F75 {
    background-color: #2B5F75
}

.bs-callout-bg-3A8FB7 {
    background-color: #3A8FB7
}

.bs-callout-bg-2E5C6E {
    background-color: #2E5C6E
}

.bs-callout-bg-006284 {
    background-color: #006284
}

.bs-callout-bg-7DB9DE {
    background-color: #7DB9DE
}

.bs-callout-bg-51A8DD {
    background-color: #51A8DD
}

.bs-callout-bg-2EA9DF {
    background-color: #2EA9DF
}

.bs-callout-bg-0B1013 {
    background-color: #0B1013
}

.bs-callout-bg-0F2540 {
    background-color: #0F2540
}

.bs-callout-bg-08192D {
    background-color: #08192D
}

.bs-callout-bg-005CAF {
    background-color: #005CAF
}

.bs-callout-bg-0B346E {
    background-color: #0B346E
}

.bs-callout-bg-7B90D2 {
    background-color: #7B90D2
}

.bs-callout-bg-6E75A4 {
    background-color: #6E75A4
}

.bs-callout-bg-261E47 {
    background-color: #261E47
}

.bs-callout-bg-113285 {
    background-color: #113285
}

.bs-callout-bg-4E4F97 {
    background-color: #4E4F97
}

.bs-callout-bg-211E55 {
    background-color: #211E55
}

.bs-callout-bg-8B81C3 {
    background-color: #8B81C3
}

.bs-callout-bg-70649A {
    background-color: #70649A
}

.bs-callout-bg-9B90C2 {
    background-color: #9B90C2
}

.bs-callout-bg-8A6BBE {
    background-color: #8A6BBE
}

.bs-callout-bg-6A4C9C {
    background-color: #6A4C9C
}

.bs-callout-bg-8F77B5 {
    background-color: #8F77B5
}

.bs-callout-bg-533D5B {
    background-color: #533D5B
}

.bs-callout-bg-B28FCE {
    background-color: #B28FCE
}

.bs-callout-bg-986DB2 {
    background-color: #986DB2
}

.bs-callout-bg-77428D {
    background-color: #77428D
}

.bs-callout-bg-3C2F41 {
    background-color: #3C2F41
}

.bs-callout-bg-4A225D {
    background-color: #4A225D
}

.bs-callout-bg-66327C {
    background-color: #66327C
}

.bs-callout-bg-592C63 {
    background-color: #592C63
}

.bs-callout-bg-6F3381 {
    background-color: #6F3381
}

.bs-callout-bg-574C57 {
    background-color: #574C57
}

.bs-callout-bg-B481BB {
    background-color: #B481BB
}

.bs-callout-bg-3F2B36 {
    background-color: #3F2B36
}

.bs-callout-bg-572A3F {
    background-color: #572A3F
}

.bs-callout-bg-5E3D50 {
    background-color: #5E3D50
}

.bs-callout-bg-72636E {
    background-color: #72636E
}

.bs-callout-bg-622954 {
    background-color: #622954
}

.bs-callout-bg-6D2E5B {
    background-color: #6D2E5B
}

.bs-callout-bg-C1328E {
    background-color: #C1328E
}

.bs-callout-bg-A8497A {
    background-color: #A8497A
}

.bs-callout-bg-562E37 {
    background-color: #562E37
}

.bs-callout-bg-E03C8A {
    background-color: #E03C8A
}

.bs-callout-bg-60373E {
    background-color: #60373E
}

.bs-callout-bg-FCFAF2 {
    background-color: #FCFAF2
}

.bs-callout-bg-FFFFFB {
    background-color: #FFFFFB
}

.bs-callout-bg-BDC0BA {
    background-color: #BDC0BA
}

.bs-callout-bg-91989F {
    background-color: #91989F
}

.bs-callout-bg-787878 {
    background-color: #787878
}

.bs-callout-bg-828282 {
    background-color: #828282
}

.bs-callout-bg-787D7B {
    background-color: #787D7B
}

.bs-callout-bg-707C74 {
    background-color: #707C74
}

.bs-callout-bg-656765 {
    background-color: #656765
}

.bs-callout-bg-535953 {
    background-color: #535953
}

.bs-callout-bg-4F4F48 {
    background-color: #4F4F48
}

.bs-callout-bg-52433D {
    background-color: #52433D
}

.bs-callout-bg-373C38 {
    background-color: #373C38
}

.bs-callout-bg-3A3226 {
    background-color: #3A3226
}

.bs-callout-bg-434343 {
    background-color: #434343
}

.bs-callout-bg-1C1C1C {
    background-color: #1C1C1C
}

.bs-callout-bg-080808 {
    background-color: #080808
}

.bs-callout-bg-0C0C0C {
    background-color: #0C0C0C
}

.bs-callout-DC9FB4 h4 {
    color: #DC9FB4
}

.bs-callout-E16B8C h4 {
    color: #E16B8C
}

.bs-callout-8E354A h4 {
    color: #8E354A
}

.bs-callout-F8C3CD h4 {
    color: #F8C3CD
}

.bs-callout-F4A7B9 h4 {
    color: #F4A7B9
}

.bs-callout-64363C h4 {
    color: #64363C
}

.bs-callout-F596AA h4 {
    color: #F596AA
}

.bs-callout-B5495B h4 {
    color: #B5495B
}

.bs-callout-E87A90 h4 {
    color: #E87A90
}

.bs-callout-D05A6E h4 {
    color: #D05A6E
}

.bs-callout-DB4D6D h4 {
    color: #DB4D6D
}

.bs-callout-FEDFE1 h4 {
    color: #FEDFE1
}

.bs-callout-9E7A7A h4 {
    color: #9E7A7A
}

.bs-callout-D0104C h4 {
    color: #D0104C
}

.bs-callout-9F353A h4 {
    color: #9F353A
}

.bs-callout-CB1B45 h4 {
    color: #CB1B45
}

.bs-callout-EEA9A9 h4 {
    color: #EEA9A9
}

.bs-callout-BF6766 h4 {
    color: #BF6766
}

.bs-callout-86473F h4 {
    color: #86473F
}

.bs-callout-B19693 h4 {
    color: #B19693
}

.bs-callout-EB7A77 h4 {
    color: #EB7A77
}

.bs-callout-954A45 h4 {
    color: #954A45
}

.bs-callout-A96360 h4 {
    color: #A96360
}

.bs-callout-CB4042 h4 {
    color: #CB4042
}

.bs-callout-AB3B3A h4 {
    color: #AB3B3A
}

.bs-callout-D7C4BB h4 {
    color: #D7C4BB
}

.bs-callout-904840 h4 {
    color: #904840
}

.bs-callout-734338 h4 {
    color: #734338
}

.bs-callout-C73E3A h4 {
    color: #C73E3A
}

.bs-callout-554236 h4 {
    color: #554236
}

.bs-callout-994639 h4 {
    color: #994639
}

.bs-callout-F19483 h4 {
    color: #F19483
}

.bs-callout-B54434 h4 {
    color: #B54434
}

.bs-callout-B9887D h4 {
    color: #B9887D
}

.bs-callout-F17C67 h4 {
    color: #F17C67
}

.bs-callout-884C3A h4 {
    color: #884C3A
}

.bs-callout-E83015 h4 {
    color: #E83015
}

.bs-callout-D75455 h4 {
    color: #D75455
}

.bs-callout-B55D4C h4 {
    color: #B55D4C
}

.bs-callout-854836 h4 {
    color: #854836
}

.bs-callout-A35E47 h4 {
    color: #A35E47
}

.bs-callout-CC543A h4 {
    color: #CC543A
}

.bs-callout-724832 h4 {
    color: #724832
}

.bs-callout-F75C2F h4 {
    color: #F75C2F
}

.bs-callout-6A4028 h4 {
    color: #6A4028
}

.bs-callout-9A5034 h4 {
    color: #9A5034
}

.bs-callout-C46243 h4 {
    color: #C46243
}

.bs-callout-AF5F3C h4 {
    color: #AF5F3C
}

.bs-callout-FB966E h4 {
    color: #FB966E
}

.bs-callout-724938 h4 {
    color: #724938
}

.bs-callout-B47157 h4 {
    color: #B47157
}

.bs-callout-DB8E71 h4 {
    color: #DB8E71
}

.bs-callout-F05E1C h4 {
    color: #F05E1C
}

.bs-callout-ED784A h4 {
    color: #ED784A
}

.bs-callout-CA7853 h4 {
    color: #CA7853
}

.bs-callout-B35C37 h4 {
    color: #B35C37
}

.bs-callout-563F2E h4 {
    color: #563F2E
}

.bs-callout-E3916E h4 {
    color: #E3916E
}

.bs-callout-8F5A3C h4 {
    color: #8F5A3C
}

.bs-callout-F0A986 h4 {
    color: #F0A986
}

.bs-callout-A0674B h4 {
    color: #A0674B
}

.bs-callout-C1693C h4 {
    color: #C1693C
}

.bs-callout-FB9966 h4 {
    color: #FB9966
}

.bs-callout-947A6D h4 {
    color: #947A6D
}

.bs-callout-A36336 h4 {
    color: #A36336
}

.bs-callout-E79460 h4 {
    color: #E79460
}

.bs-callout-7D532C h4 {
    color: #7D532C
}

.bs-callout-C78550 h4 {
    color: #C78550
}

.bs-callout-985F2A h4 {
    color: #985F2A
}

.bs-callout-E1A679 h4 {
    color: #E1A679
}

.bs-callout-855B32 h4 {
    color: #855B32
}

.bs-callout-FC9F4D h4 {
    color: #FC9F4D
}

.bs-callout-FFBA84 h4 {
    color: #FFBA84
}

.bs-callout-E98B2A h4 {
    color: #E98B2A
}

.bs-callout-E9A368 h4 {
    color: #E9A368
}

.bs-callout-B17844 h4 {
    color: #B17844
}

.bs-callout-96632E h4 {
    color: #96632E
}

.bs-callout-43341B h4 {
    color: #43341B
}

.bs-callout-CA7A2C h4 {
    color: #CA7A2C
}

.bs-callout-ECB88A h4 {
    color: #ECB88A
}

.bs-callout-78552B h4 {
    color: #78552B
}

.bs-callout-B07736 h4 {
    color: #B07736
}

.bs-callout-967249 h4 {
    color: #967249
}

.bs-callout-E2943B h4 {
    color: #E2943B
}

.bs-callout-C7802D h4 {
    color: #C7802D
}

.bs-callout-9B6E23 h4 {
    color: #9B6E23
}

.bs-callout-6E552F h4 {
    color: #6E552F
}

.bs-callout-EBB471 h4 {
    color: #EBB471
}

.bs-callout-D7B98E h4 {
    color: #D7B98E
}

.bs-callout-82663A h4 {
    color: #82663A
}

.bs-callout-B68E55 h4 {
    color: #B68E55
}

.bs-callout-BC9F77 h4 {
    color: #BC9F77
}

.bs-callout-876633 h4 {
    color: #876633
}

.bs-callout-C18A26 h4 {
    color: #C18A26
}

.bs-callout-FFB11B h4 {
    color: #FFB11B
}

.bs-callout-D19826 h4 {
    color: #D19826
}

.bs-callout-DDA52D h4 {
    color: #DDA52D
}

.bs-callout-C99833 h4 {
    color: #C99833
}

.bs-callout-F9BF45 h4 {
    color: #F9BF45
}

.bs-callout-DCB879 h4 {
    color: #DCB879
}

.bs-callout-BA9132 h4 {
    color: #BA9132
}

.bs-callout-E8B647 h4 {
    color: #E8B647
}

.bs-callout-F7C242 h4 {
    color: #F7C242
}

.bs-callout-7D6C46 h4 {
    color: #7D6C46
}

.bs-callout-DAC9A6 h4 {
    color: #DAC9A6
}

.bs-callout-FAD689 h4 {
    color: #FAD689
}

.bs-callout-D9AB42 h4 {
    color: #D9AB42
}

.bs-callout-F6C555 h4 {
    color: #F6C555
}

.bs-callout-FFC408 h4 {
    color: #FFC408
}

.bs-callout-EFBB24 h4 {
    color: #EFBB24
}

.bs-callout-CAAD5F h4 {
    color: #CAAD5F
}

.bs-callout-8D742A h4 {
    color: #8D742A
}

.bs-callout-B4A582 h4 {
    color: #B4A582
}

.bs-callout-877F6C h4 {
    color: #877F6C
}

.bs-callout-897D55 h4 {
    color: #897D55
}

.bs-callout-74673E h4 {
    color: #74673E
}

.bs-callout-A28C37 h4 {
    color: #A28C37
}

.bs-callout-6C6024 h4 {
    color: #6C6024
}

.bs-callout-867835 h4 {
    color: #867835
}

.bs-callout-62592C h4 {
    color: #62592C
}

.bs-callout-E9CD4C h4 {
    color: #E9CD4C
}

.bs-callout-F7D94C h4 {
    color: #F7D94C
}

.bs-callout-FBE251 h4 {
    color: #FBE251
}

.bs-callout-D9CD90 h4 {
    color: #D9CD90
}

.bs-callout-ADA142 h4 {
    color: #ADA142
}

.bs-callout-DDD23B h4 {
    color: #DDD23B
}

.bs-callout-A5A051 h4 {
    color: #A5A051
}

.bs-callout-BEC23F h4 {
    color: #BEC23F
}

.bs-callout-6C6A2D h4 {
    color: #6C6A2D
}

.bs-callout-939650 h4 {
    color: #939650
}

.bs-callout-838A2D h4 {
    color: #838A2D
}

.bs-callout-B1B479 h4 {
    color: #B1B479
}

.bs-callout-616138 h4 {
    color: #616138
}

.bs-callout-4B4E2A h4 {
    color: #4B4E2A
}

.bs-callout-5B622E h4 {
    color: #5B622E
}

.bs-callout-4D5139 h4 {
    color: #4D5139
}

.bs-callout-89916B h4 {
    color: #89916B
}

.bs-callout-90B44B h4 {
    color: #90B44B
}

.bs-callout-91AD70 h4 {
    color: #91AD70
}

.bs-callout-B5CAA0 h4 {
    color: #B5CAA0
}

.bs-callout-646A58 h4 {
    color: #646A58
}

.bs-callout-7BA23F h4 {
    color: #7BA23F
}

.bs-callout-86C166 h4 {
    color: #86C166
}

.bs-callout-4A593D h4 {
    color: #4A593D
}

.bs-callout-42602D h4 {
    color: #42602D
}

.bs-callout-516E41 h4 {
    color: #516E41
}

.bs-callout-91B493 h4 {
    color: #91B493
}

.bs-callout-808F7C h4 {
    color: #808F7C
}

.bs-callout-1B813E h4 {
    color: #1B813E
}

.bs-callout-5DAC81 h4 {
    color: #5DAC81
}

.bs-callout-36563C h4 {
    color: #36563C
}

.bs-callout-227D51 h4 {
    color: #227D51
}

.bs-callout-A8D8B9 h4 {
    color: #A8D8B9
}

.bs-callout-6A8372 h4 {
    color: #6A8372
}

.bs-callout-2D6D4B h4 {
    color: #2D6D4B
}

.bs-callout-465D4C h4 {
    color: #465D4C
}

.bs-callout-24936E h4 {
    color: #24936E
}

.bs-callout-86A697 h4 {
    color: #86A697
}

.bs-callout-00896C h4 {
    color: #00896C
}

.bs-callout-096148 h4 {
    color: #096148
}

.bs-callout-20604F h4 {
    color: #20604F
}

.bs-callout-0F4C3A h4 {
    color: #0F4C3A
}

.bs-callout-4F726C h4 {
    color: #4F726C
}

.bs-callout-00AA90 h4 {
    color: #00AA90
}

.bs-callout-69B0AC h4 {
    color: #69B0AC
}

.bs-callout-26453D h4 {
    color: #26453D
}

.bs-callout-66BAB7 h4 {
    color: #66BAB7
}

.bs-callout-268785 h4 {
    color: #268785
}

.bs-callout-405B55 h4 {
    color: #405B55
}

.bs-callout-305A56 h4 {
    color: #305A56
}

.bs-callout-78C2C4 h4 {
    color: #78C2C4
}

.bs-callout-376B6D h4 {
    color: #376B6D
}

.bs-callout-A5DEE4 h4 {
    color: #A5DEE4
}

.bs-callout-77969A h4 {
    color: #77969A
}

.bs-callout-6699A1 h4 {
    color: #6699A1
}

.bs-callout-81C7D4 h4 {
    color: #81C7D4
}

.bs-callout-33A6B8 h4 {
    color: #33A6B8
}

.bs-callout-0C4842 h4 {
    color: #0C4842
}

.bs-callout-0D5661 h4 {
    color: #0D5661
}

.bs-callout-0089A7 h4 {
    color: #0089A7
}

.bs-callout-336774 h4 {
    color: #336774
}

.bs-callout-255359 h4 {
    color: #255359
}

.bs-callout-1E88A8 h4 {
    color: #1E88A8
}

.bs-callout-566C73 h4 {
    color: #566C73
}

.bs-callout-577C8A h4 {
    color: #577C8A
}

.bs-callout-58B2DC h4 {
    color: #58B2DC
}

.bs-callout-2B5F75 h4 {
    color: #2B5F75
}

.bs-callout-3A8FB7 h4 {
    color: #3A8FB7
}

.bs-callout-2E5C6E h4 {
    color: #2E5C6E
}

.bs-callout-006284 h4 {
    color: #006284
}

.bs-callout-7DB9DE h4 {
    color: #7DB9DE
}

.bs-callout-51A8DD h4 {
    color: #51A8DD
}

.bs-callout-2EA9DF h4 {
    color: #2EA9DF
}

.bs-callout-0B1013 h4 {
    color: #0B1013
}

.bs-callout-0F2540 h4 {
    color: #0F2540
}

.bs-callout-08192D h4 {
    color: #08192D
}

.bs-callout-005CAF h4 {
    color: #005CAF
}

.bs-callout-0B346E h4 {
    color: #0B346E
}

.bs-callout-7B90D2 h4 {
    color: #7B90D2
}

.bs-callout-6E75A4 h4 {
    color: #6E75A4
}

.bs-callout-261E47 h4 {
    color: #261E47
}

.bs-callout-113285 h4 {
    color: #113285
}

.bs-callout-4E4F97 h4 {
    color: #4E4F97
}

.bs-callout-211E55 h4 {
    color: #211E55
}

.bs-callout-8B81C3 h4 {
    color: #8B81C3
}

.bs-callout-70649A h4 {
    color: #70649A
}

.bs-callout-9B90C2 h4 {
    color: #9B90C2
}

.bs-callout-8A6BBE h4 {
    color: #8A6BBE
}

.bs-callout-6A4C9C h4 {
    color: #6A4C9C
}

.bs-callout-8F77B5 h4 {
    color: #8F77B5
}

.bs-callout-533D5B h4 {
    color: #533D5B
}

.bs-callout-B28FCE h4 {
    color: #B28FCE
}

.bs-callout-986DB2 h4 {
    color: #986DB2
}

.bs-callout-77428D h4 {
    color: #77428D
}

.bs-callout-3C2F41 h4 {
    color: #3C2F41
}

.bs-callout-4A225D h4 {
    color: #4A225D
}

.bs-callout-66327C h4 {
    color: #66327C
}

.bs-callout-592C63 h4 {
    color: #592C63
}

.bs-callout-6F3381 h4 {
    color: #6F3381
}

.bs-callout-574C57 h4 {
    color: #574C57
}

.bs-callout-B481BB h4 {
    color: #B481BB
}

.bs-callout-3F2B36 h4 {
    color: #3F2B36
}

.bs-callout-572A3F h4 {
    color: #572A3F
}

.bs-callout-5E3D50 h4 {
    color: #5E3D50
}

.bs-callout-72636E h4 {
    color: #72636E
}

.bs-callout-622954 h4 {
    color: #622954
}

.bs-callout-6D2E5B h4 {
    color: #6D2E5B
}

.bs-callout-C1328E h4 {
    color: #C1328E
}

.bs-callout-A8497A h4 {
    color: #A8497A
}

.bs-callout-562E37 h4 {
    color: #562E37
}

.bs-callout-E03C8A h4 {
    color: #E03C8A
}

.bs-callout-60373E h4 {
    color: #60373E
}

.bs-callout-FCFAF2 h4 {
    color: #FCFAF2
}

.bs-callout-FFFFFB h4 {
    color: #FFFFFB
}

.bs-callout-BDC0BA h4 {
    color: #BDC0BA
}

.bs-callout-91989F h4 {
    color: #91989F
}

.bs-callout-787878 h4 {
    color: #787878
}

.bs-callout-828282 h4 {
    color: #828282
}

.bs-callout-787D7B h4 {
    color: #787D7B
}

.bs-callout-707C74 h4 {
    color: #707C74
}

.bs-callout-656765 h4 {
    color: #656765
}

.bs-callout-535953 h4 {
    color: #535953
}

.bs-callout-4F4F48 h4 {
    color: #4F4F48
}

.bs-callout-52433D h4 {
    color: #52433D
}

.bs-callout-373C38 h4 {
    color: #373C38
}

.bs-callout-3A3226 h4 {
    color: #3A3226
}

.bs-callout-434343 h4 {
    color: #434343
}

.bs-callout-1C1C1C h4 {
    color: #1C1C1C
}

.bs-callout-080808 h4 {
    color: #080808
}

.bs-callout-0C0C0C h4 {
    color: #0C0C0C
}

.bs-callout-bg-DC9FB4 h4 {
    background-color: #DC9FB4
}

.bs-callout-bg-E16B8C h4 {
    background-color: #E16B8C
}

.bs-callout-bg-8E354A h4 {
    background-color: #8E354A
}

.bs-callout-bg-F8C3CD h4 {
    background-color: #F8C3CD
}

.bs-callout-bg-F4A7B9 h4 {
    background-color: #F4A7B9
}

.bs-callout-bg-64363C h4 {
    background-color: #64363C
}

.bs-callout-bg-F596AA h4 {
    background-color: #F596AA
}

.bs-callout-bg-B5495B h4 {
    background-color: #B5495B
}

.bs-callout-bg-E87A90 h4 {
    background-color: #E87A90
}

.bs-callout-bg-D05A6E h4 {
    background-color: #D05A6E
}

.bs-callout-bg-DB4D6D h4 {
    background-color: #DB4D6D
}

.bs-callout-bg-FEDFE1 h4 {
    background-color: #FEDFE1
}

.bs-callout-bg-9E7A7A h4 {
    background-color: #9E7A7A
}

.bs-callout-bg-D0104C h4 {
    background-color: #D0104C
}

.bs-callout-bg-9F353A h4 {
    background-color: #9F353A
}

.bs-callout-bg-CB1B45 h4 {
    background-color: #CB1B45
}

.bs-callout-bg-EEA9A9 h4 {
    background-color: #EEA9A9
}

.bs-callout-bg-BF6766 h4 {
    background-color: #BF6766
}

.bs-callout-bg-86473F h4 {
    background-color: #86473F
}

.bs-callout-bg-B19693 h4 {
    background-color: #B19693
}

.bs-callout-bg-EB7A77 h4 {
    background-color: #EB7A77
}

.bs-callout-bg-954A45 h4 {
    background-color: #954A45
}

.bs-callout-bg-A96360 h4 {
    background-color: #A96360
}

.bs-callout-bg-CB4042 h4 {
    background-color: #CB4042
}

.bs-callout-bg-AB3B3A h4 {
    background-color: #AB3B3A
}

.bs-callout-bg-D7C4BB h4 {
    background-color: #D7C4BB
}

.bs-callout-bg-904840 h4 {
    background-color: #904840
}

.bs-callout-bg-734338 h4 {
    background-color: #734338
}

.bs-callout-bg-C73E3A h4 {
    background-color: #C73E3A
}

.bs-callout-bg-554236 h4 {
    background-color: #554236
}

.bs-callout-bg-994639 h4 {
    background-color: #994639
}

.bs-callout-bg-F19483 h4 {
    background-color: #F19483
}

.bs-callout-bg-B54434 h4 {
    background-color: #B54434
}

.bs-callout-bg-B9887D h4 {
    background-color: #B9887D
}

.bs-callout-bg-F17C67 h4 {
    background-color: #F17C67
}

.bs-callout-bg-884C3A h4 {
    background-color: #884C3A
}

.bs-callout-bg-E83015 h4 {
    background-color: #E83015
}

.bs-callout-bg-D75455 h4 {
    background-color: #D75455
}

.bs-callout-bg-B55D4C h4 {
    background-color: #B55D4C
}

.bs-callout-bg-854836 h4 {
    background-color: #854836
}

.bs-callout-bg-A35E47 h4 {
    background-color: #A35E47
}

.bs-callout-bg-CC543A h4 {
    background-color: #CC543A
}

.bs-callout-bg-724832 h4 {
    background-color: #724832
}

.bs-callout-bg-F75C2F h4 {
    background-color: #F75C2F
}

.bs-callout-bg-6A4028 h4 {
    background-color: #6A4028
}

.bs-callout-bg-9A5034 h4 {
    background-color: #9A5034
}

.bs-callout-bg-C46243 h4 {
    background-color: #C46243
}

.bs-callout-bg-AF5F3C h4 {
    background-color: #AF5F3C
}

.bs-callout-bg-FB966E h4 {
    background-color: #FB966E
}

.bs-callout-bg-724938 h4 {
    background-color: #724938
}

.bs-callout-bg-B47157 h4 {
    background-color: #B47157
}

.bs-callout-bg-DB8E71 h4 {
    background-color: #DB8E71
}

.bs-callout-bg-F05E1C h4 {
    background-color: #F05E1C
}

.bs-callout-bg-ED784A h4 {
    background-color: #ED784A
}

.bs-callout-bg-CA7853 h4 {
    background-color: #CA7853
}

.bs-callout-bg-B35C37 h4 {
    background-color: #B35C37
}

.bs-callout-bg-563F2E h4 {
    background-color: #563F2E
}

.bs-callout-bg-E3916E h4 {
    background-color: #E3916E
}

.bs-callout-bg-8F5A3C h4 {
    background-color: #8F5A3C
}

.bs-callout-bg-F0A986 h4 {
    background-color: #F0A986
}

.bs-callout-bg-A0674B h4 {
    background-color: #A0674B
}

.bs-callout-bg-C1693C h4 {
    background-color: #C1693C
}

.bs-callout-bg-FB9966 h4 {
    background-color: #FB9966
}

.bs-callout-bg-947A6D h4 {
    background-color: #947A6D
}

.bs-callout-bg-A36336 h4 {
    background-color: #A36336
}

.bs-callout-bg-E79460 h4 {
    background-color: #E79460
}

.bs-callout-bg-7D532C h4 {
    background-color: #7D532C
}

.bs-callout-bg-C78550 h4 {
    background-color: #C78550
}

.bs-callout-bg-985F2A h4 {
    background-color: #985F2A
}

.bs-callout-bg-E1A679 h4 {
    background-color: #E1A679
}

.bs-callout-bg-855B32 h4 {
    background-color: #855B32
}

.bs-callout-bg-FC9F4D h4 {
    background-color: #FC9F4D
}

.bs-callout-bg-FFBA84 h4 {
    background-color: #FFBA84
}

.bs-callout-bg-E98B2A h4 {
    background-color: #E98B2A
}

.bs-callout-bg-E9A368 h4 {
    background-color: #E9A368
}

.bs-callout-bg-B17844 h4 {
    background-color: #B17844
}

.bs-callout-bg-96632E h4 {
    background-color: #96632E
}

.bs-callout-bg-43341B h4 {
    background-color: #43341B
}

.bs-callout-bg-CA7A2C h4 {
    background-color: #CA7A2C
}

.bs-callout-bg-ECB88A h4 {
    background-color: #ECB88A
}

.bs-callout-bg-78552B h4 {
    background-color: #78552B
}

.bs-callout-bg-B07736 h4 {
    background-color: #B07736
}

.bs-callout-bg-967249 h4 {
    background-color: #967249
}

.bs-callout-bg-E2943B h4 {
    background-color: #E2943B
}

.bs-callout-bg-C7802D h4 {
    background-color: #C7802D
}

.bs-callout-bg-9B6E23 h4 {
    background-color: #9B6E23
}

.bs-callout-bg-6E552F h4 {
    background-color: #6E552F
}

.bs-callout-bg-EBB471 h4 {
    background-color: #EBB471
}

.bs-callout-bg-D7B98E h4 {
    background-color: #D7B98E
}

.bs-callout-bg-82663A h4 {
    background-color: #82663A
}

.bs-callout-bg-B68E55 h4 {
    background-color: #B68E55
}

.bs-callout-bg-BC9F77 h4 {
    background-color: #BC9F77
}

.bs-callout-bg-876633 h4 {
    background-color: #876633
}

.bs-callout-bg-C18A26 h4 {
    background-color: #C18A26
}

.bs-callout-bg-FFB11B h4 {
    background-color: #FFB11B
}

.bs-callout-bg-D19826 h4 {
    background-color: #D19826
}

.bs-callout-bg-DDA52D h4 {
    background-color: #DDA52D
}

.bs-callout-bg-C99833 h4 {
    background-color: #C99833
}

.bs-callout-bg-F9BF45 h4 {
    background-color: #F9BF45
}

.bs-callout-bg-DCB879 h4 {
    background-color: #DCB879
}

.bs-callout-bg-BA9132 h4 {
    background-color: #BA9132
}

.bs-callout-bg-E8B647 h4 {
    background-color: #E8B647
}

.bs-callout-bg-F7C242 h4 {
    background-color: #F7C242
}

.bs-callout-bg-7D6C46 h4 {
    background-color: #7D6C46
}

.bs-callout-bg-DAC9A6 h4 {
    background-color: #DAC9A6
}

.bs-callout-bg-FAD689 h4 {
    background-color: #FAD689
}

.bs-callout-bg-D9AB42 h4 {
    background-color: #D9AB42
}

.bs-callout-bg-F6C555 h4 {
    background-color: #F6C555
}

.bs-callout-bg-FFC408 h4 {
    background-color: #FFC408
}

.bs-callout-bg-EFBB24 h4 {
    background-color: #EFBB24
}

.bs-callout-bg-CAAD5F h4 {
    background-color: #CAAD5F
}

.bs-callout-bg-8D742A h4 {
    background-color: #8D742A
}

.bs-callout-bg-B4A582 h4 {
    background-color: #B4A582
}

.bs-callout-bg-877F6C h4 {
    background-color: #877F6C
}

.bs-callout-bg-897D55 h4 {
    background-color: #897D55
}

.bs-callout-bg-74673E h4 {
    background-color: #74673E
}

.bs-callout-bg-A28C37 h4 {
    background-color: #A28C37
}

.bs-callout-bg-6C6024 h4 {
    background-color: #6C6024
}

.bs-callout-bg-867835 h4 {
    background-color: #867835
}

.bs-callout-bg-62592C h4 {
    background-color: #62592C
}

.bs-callout-bg-E9CD4C h4 {
    background-color: #E9CD4C
}

.bs-callout-bg-F7D94C h4 {
    background-color: #F7D94C
}

.bs-callout-bg-FBE251 h4 {
    background-color: #FBE251
}

.bs-callout-bg-D9CD90 h4 {
    background-color: #D9CD90
}

.bs-callout-bg-ADA142 h4 {
    background-color: #ADA142
}

.bs-callout-bg-DDD23B h4 {
    background-color: #DDD23B
}

.bs-callout-bg-A5A051 h4 {
    background-color: #A5A051
}

.bs-callout-bg-BEC23F h4 {
    background-color: #BEC23F
}

.bs-callout-bg-6C6A2D h4 {
    background-color: #6C6A2D
}

.bs-callout-bg-939650 h4 {
    background-color: #939650
}

.bs-callout-bg-838A2D h4 {
    background-color: #838A2D
}

.bs-callout-bg-B1B479 h4 {
    background-color: #B1B479
}

.bs-callout-bg-616138 h4 {
    background-color: #616138
}

.bs-callout-bg-4B4E2A h4 {
    background-color: #4B4E2A
}

.bs-callout-bg-5B622E h4 {
    background-color: #5B622E
}

.bs-callout-bg-4D5139 h4 {
    background-color: #4D5139
}

.bs-callout-bg-89916B h4 {
    background-color: #89916B
}

.bs-callout-bg-90B44B h4 {
    background-color: #90B44B
}

.bs-callout-bg-91AD70 h4 {
    background-color: #91AD70
}

.bs-callout-bg-B5CAA0 h4 {
    background-color: #B5CAA0
}

.bs-callout-bg-646A58 h4 {
    background-color: #646A58
}

.bs-callout-bg-7BA23F h4 {
    background-color: #7BA23F
}

.bs-callout-bg-86C166 h4 {
    background-color: #86C166
}

.bs-callout-bg-4A593D h4 {
    background-color: #4A593D
}

.bs-callout-bg-42602D h4 {
    background-color: #42602D
}

.bs-callout-bg-516E41 h4 {
    background-color: #516E41
}

.bs-callout-bg-91B493 h4 {
    background-color: #91B493
}

.bs-callout-bg-808F7C h4 {
    background-color: #808F7C
}

.bs-callout-bg-1B813E h4 {
    background-color: #1B813E
}

.bs-callout-bg-5DAC81 h4 {
    background-color: #5DAC81
}

.bs-callout-bg-36563C h4 {
    background-color: #36563C
}

.bs-callout-bg-227D51 h4 {
    background-color: #227D51
}

.bs-callout-bg-A8D8B9 h4 {
    background-color: #A8D8B9
}

.bs-callout-bg-6A8372 h4 {
    background-color: #6A8372
}

.bs-callout-bg-2D6D4B h4 {
    background-color: #2D6D4B
}

.bs-callout-bg-465D4C h4 {
    background-color: #465D4C
}

.bs-callout-bg-24936E h4 {
    background-color: #24936E
}

.bs-callout-bg-86A697 h4 {
    background-color: #86A697
}

.bs-callout-bg-00896C h4 {
    background-color: #00896C
}

.bs-callout-bg-096148 h4 {
    background-color: #096148
}

.bs-callout-bg-20604F h4 {
    background-color: #20604F
}

.bs-callout-bg-0F4C3A h4 {
    background-color: #0F4C3A
}

.bs-callout-bg-4F726C h4 {
    background-color: #4F726C
}

.bs-callout-bg-00AA90 h4 {
    background-color: #00AA90
}

.bs-callout-bg-69B0AC h4 {
    background-color: #69B0AC
}

.bs-callout-bg-26453D h4 {
    background-color: #26453D
}

.bs-callout-bg-66BAB7 h4 {
    background-color: #66BAB7
}

.bs-callout-bg-268785 h4 {
    background-color: #268785
}

.bs-callout-bg-405B55 h4 {
    background-color: #405B55
}

.bs-callout-bg-305A56 h4 {
    background-color: #305A56
}

.bs-callout-bg-78C2C4 h4 {
    background-color: #78C2C4
}

.bs-callout-bg-376B6D h4 {
    background-color: #376B6D
}

.bs-callout-bg-A5DEE4 h4 {
    background-color: #A5DEE4
}

.bs-callout-bg-77969A h4 {
    background-color: #77969A
}

.bs-callout-bg-6699A1 h4 {
    background-color: #6699A1
}

.bs-callout-bg-81C7D4 h4 {
    background-color: #81C7D4
}

.bs-callout-bg-33A6B8 h4 {
    background-color: #33A6B8
}

.bs-callout-bg-0C4842 h4 {
    background-color: #0C4842
}

.bs-callout-bg-0D5661 h4 {
    background-color: #0D5661
}

.bs-callout-bg-0089A7 h4 {
    background-color: #0089A7
}

.bs-callout-bg-336774 h4 {
    background-color: #336774
}

.bs-callout-bg-255359 h4 {
    background-color: #255359
}

.bs-callout-bg-1E88A8 h4 {
    background-color: #1E88A8
}

.bs-callout-bg-566C73 h4 {
    background-color: #566C73
}

.bs-callout-bg-577C8A h4 {
    background-color: #577C8A
}

.bs-callout-bg-58B2DC h4 {
    background-color: #58B2DC
}

.bs-callout-bg-2B5F75 h4 {
    background-color: #2B5F75
}

.bs-callout-bg-3A8FB7 h4 {
    background-color: #3A8FB7
}

.bs-callout-bg-2E5C6E h4 {
    background-color: #2E5C6E
}

.bs-callout-bg-006284 h4 {
    background-color: #006284
}

.bs-callout-bg-7DB9DE h4 {
    background-color: #7DB9DE
}

.bs-callout-bg-51A8DD h4 {
    background-color: #51A8DD
}

.bs-callout-bg-2EA9DF h4 {
    background-color: #2EA9DF
}

.bs-callout-bg-0B1013 h4 {
    background-color: #0B1013
}

.bs-callout-bg-0F2540 h4 {
    background-color: #0F2540
}

.bs-callout-bg-08192D h4 {
    background-color: #08192D
}

.bs-callout-bg-005CAF h4 {
    background-color: #005CAF
}

.bs-callout-bg-0B346E h4 {
    background-color: #0B346E
}

.bs-callout-bg-7B90D2 h4 {
    background-color: #7B90D2
}

.bs-callout-bg-6E75A4 h4 {
    background-color: #6E75A4
}

.bs-callout-bg-261E47 h4 {
    background-color: #261E47
}

.bs-callout-bg-113285 h4 {
    background-color: #113285
}

.bs-callout-bg-4E4F97 h4 {
    background-color: #4E4F97
}

.bs-callout-bg-211E55 h4 {
    background-color: #211E55
}

.bs-callout-bg-8B81C3 h4 {
    background-color: #8B81C3
}

.bs-callout-bg-70649A h4 {
    background-color: #70649A
}

.bs-callout-bg-9B90C2 h4 {
    background-color: #9B90C2
}

.bs-callout-bg-8A6BBE h4 {
    background-color: #8A6BBE
}

.bs-callout-bg-6A4C9C h4 {
    background-color: #6A4C9C
}

.bs-callout-bg-8F77B5 h4 {
    background-color: #8F77B5
}

.bs-callout-bg-533D5B h4 {
    background-color: #533D5B
}

.bs-callout-bg-B28FCE h4 {
    background-color: #B28FCE
}

.bs-callout-bg-986DB2 h4 {
    background-color: #986DB2
}

.bs-callout-bg-77428D h4 {
    background-color: #77428D
}

.bs-callout-bg-3C2F41 h4 {
    background-color: #3C2F41
}

.bs-callout-bg-4A225D h4 {
    background-color: #4A225D
}

.bs-callout-bg-66327C h4 {
    background-color: #66327C
}

.bs-callout-bg-592C63 h4 {
    background-color: #592C63
}

.bs-callout-bg-6F3381 h4 {
    background-color: #6F3381
}

.bs-callout-bg-574C57 h4 {
    background-color: #574C57
}

.bs-callout-bg-B481BB h4 {
    background-color: #B481BB
}

.bs-callout-bg-3F2B36 h4 {
    background-color: #3F2B36
}

.bs-callout-bg-572A3F h4 {
    background-color: #572A3F
}

.bs-callout-bg-5E3D50 h4 {
    background-color: #5E3D50
}

.bs-callout-bg-72636E h4 {
    background-color: #72636E
}

.bs-callout-bg-622954 h4 {
    background-color: #622954
}

.bs-callout-bg-6D2E5B h4 {
    background-color: #6D2E5B
}

.bs-callout-bg-C1328E h4 {
    background-color: #C1328E
}

.bs-callout-bg-A8497A h4 {
    background-color: #A8497A
}

.bs-callout-bg-562E37 h4 {
    background-color: #562E37
}

.bs-callout-bg-E03C8A h4 {
    background-color: #E03C8A
}

.bs-callout-bg-60373E h4 {
    background-color: #60373E
}

.bs-callout-bg-FCFAF2 h4 {
    background-color: #FCFAF2
}

.bs-callout-bg-FFFFFB h4 {
    background-color: #FFFFFB
}

.bs-callout-bg-BDC0BA h4 {
    background-color: #BDC0BA
}

.bs-callout-bg-91989F h4 {
    background-color: #91989F
}

.bs-callout-bg-787878 h4 {
    background-color: #787878
}

.bs-callout-bg-828282 h4 {
    background-color: #828282
}

.bs-callout-bg-787D7B h4 {
    background-color: #787D7B
}

.bs-callout-bg-707C74 h4 {
    background-color: #707C74
}

.bs-callout-bg-656765 h4 {
    background-color: #656765
}

.bs-callout-bg-535953 h4 {
    background-color: #535953
}

.bs-callout-bg-4F4F48 h4 {
    background-color: #4F4F48
}

.bs-callout-bg-52433D h4 {
    background-color: #52433D
}

.bs-callout-bg-373C38 h4 {
    background-color: #373C38
}

.bs-callout-bg-3A3226 h4 {
    background-color: #3A3226
}

.bs-callout-bg-434343 h4 {
    background-color: #434343
}

.bs-callout-bg-1C1C1C h4 {
    background-color: #1C1C1C
}

.bs-callout-bg-080808 h4 {
    background-color: #080808
}

.bs-callout-bg-0C0C0C h4 {
    background-color: #0C0C0C
}