/*
gallery thumbnails styles

copyright (C) 2008-2013 netcharm
license: GNU GPL, see COPYING for details
*/


.clearboth { clear: both; }

div.gallery {
    display: block;
    text-align: center;
    margin: 0em;
}

.thumbnail {
    position: relative;
    display: block;
    text-align: center;
    float: left;
    margin: 0 15px 15px 0;
}

.gallery .text {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0.2em;
}

.gallery .imagecont {
    position: relative;
}

.gallery .title {
    text-align: center;
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
}

.gallery .image {
    position: absolute;
    bottom: 0;
    font-size: 0px;
}

.gallery .description {
    /*text-align: left;*/
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
}

.gallery .show-datetime {
    text-align: center;
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
 }

.gallery form {
    padding: 0;
    margin: 0;
    position: relative;
}

.gallery .html-show-tools {
    position: relative;
    width: 100%;
    padding-top: 2px;
}

.gallery .html-show-tools ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gallery .html-show-tools li {
    display: table-cell;
    position: relative;
    padding: 0 1px 0 1px;
    margin: 0;
}
