<!--
  Copyright (C) 2007-2008 Zoran Isailovski
  Licensed under the Apache License, Version 2.0 (see http://www.apache.org/licenses/LICENSE-2.0)
  or, at your option, under the terms described in the file LICENSE.txt found in the root of the 
  distribution of this package (as far as it denotes a different license then the above).
-->
<style>
div.zi-footer {
  text-align: right;
  font: 7pt Verdana, Arial, Helv;
  color: \#888888;
  border-top: 1px dotted \#888888;
  padding: 5px 10px 0 5px;
}
</style>
<style>
div.zi-frame {
##  background: \#e0f0ff;
##  border: 1px solid lightskyblue;
##  background: \#efefff;
##  border: 1px solid \#9f9fff;
##  background: navajowhite;
##  border: 1px solid \#9f9fff;
  background: whitesmoke;
  border: 1px solid \#ddd;
}

div.zi-dlg {
  color: black;
  padding: 5px;
  margin: 5px auto 5px auto;
##  -moz-border-radius: 1em;
}
.zi-msgbox {
##  border: 1px solid \#9f9fff;
##  background: \#efefff;
##  color:  slategray;
##  font-size: 9pt;
##  /*width: 100%; -- !!! messes up on IE !!! */
  min-height: 35px;
  margin: 1em auto 1em auto;
  padding: .2em;
## text-align: left;
##  -moz-border-radius: 1em;
}
</style>

#if( $messages ) ##
  <div class="zi-frame zi-msgbox">
    <ul>
#foreach( $msg in $messages )##
      <li>$msg</li>
#end##
    </ul>
  </div>
#end##

#if( $filenames )##
<div class="zi-frame zi-dlg">
  <form method="post">
    <h2>$title:</h2>
    <input type="hidden" name="action" value="$action" />
##set( $n = 0 )##
#foreach( $fname in $filenames )##
##set( $n = $succ($n) )##
    <p><input type="checkbox" name="$fname" checked="1"><b>$fname</b></input></p>
#end##
    <hr />
    <p align="center">
##      <input type="checkbox" onclick="alert('Not implemented yet')" >Check All</input>
      <input type="submit" value="Delete Selected" />
    </p>
  </form>
</div>
#end##
<div class="zi-footer">
  Attachment Deletion Actions &copy; 2007 Zoran Isailovski
  <br /> Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
</div>